In [301]:
#Libraries:

import pandas as pd
import numpy as np
import pprint
import seaborn as sns
import matplotlib.pyplot as plt

import json

### Cleaning Main Dataset for training

In [302]:
df = pd.read_csv("../Data/dataset_idealista.csv")

In [303]:
df.head()

,ad_id,ad_state_Value,ad_operation_Value,ad_typology_Value,ad_price,ad_area,ad_activationdate,ad_deactivationdate,ad_latitude,ad_longitude,...,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,inactive ad,sale,home,315000,61.0,2023-11-03,2023-11-10,41.372047,2.164361,...,second hand / in good condition,2,1,1.0,NaN,1.0,NaN,NaN,1.0,NaN
1,102614560,inactive ad,sale,home,450000,166.0,2023-09-20,2023-11-10,41.379380,2.177694,...,second hand / to be restored,7,2,0.0,NaN,NaN,1.0,NaN,NaN,NaN
2,101675391,inactive ad,sale,home,179000,58.0,2023-06-08,2023-11-06,41.379963,2.163510,...,second hand / to be restored,3,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,102882142,inactive ad,sale,home,150000,30.0,2023-10-17,2023-11-09,41.388439,2.165341,...,second hand / in good condition,0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,102001566,inactive ad,sale,home,120000,62.0,2023-08-28,2023-11-07,41.371448,2.167549,...,second hand / to be restored,2,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [304]:
print(df.columns)

Index(['ad_id', 'ad_state_Value', 'ad_operation_Value', 'ad_typology_Value',
       'ad_price', 'ad_area', 'ad_activationdate', 'ad_deactivationdate',
       'ad_latitude', 'ad_longitude', 'ad_town', 'ad_district',
       'ad_neighbourhood', 'ad_builttype_Value', 'ad_roomnumber',
       'ad_bathnumber', 'ad_haslift', 'ad_hasswimmingpool', 'ad_hasheating',
       'ad_hasterrace', 'ad_hasparkingspace', 'ad_hasairconditioning',
       'ad_hasgarden'],
      dtype='object')

In [305]:
# I will start by removing unnecessary columns that are useless for both the training the model as well as the visualization

In [306]:
def drop_columns(dataframe, columns_to_drop):

    return dataframe.drop(columns=columns_to_drop, errors='ignore')

In [307]:
columns_to_drop = ['ad_state_Value','ad_operation_Value', 'ad_activationdate', 'ad_deactivationdate']
df = drop_columns(df, columns_to_drop)

In [308]:
# Now i will handle null values

In [309]:
columns_to_fill = ['ad_area','ad_haslift', 'ad_hasswimmingpool', 'ad_hasheating', 'ad_hasterrace', 'ad_hasparkingspace', 'ad_hasairconditioning', 'ad_hasgarden']
df[columns_to_fill] = df[columns_to_fill].fillna(0).astype(int)

In [310]:
columns_with_nulls = df.columns[df.isnull().any()]
null_counts = df[columns_with_nulls].isnull().sum().sort_values(ascending=False)

print("Columns with the most null values:")
print(null_counts)

Columns with the most null values:
Series([], dtype: float64)

In [311]:
df.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/clean_idealista.csv', index=False)

### cleaning main dataset for Tableau

In [312]:
df.head()

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,home,315000,61,41.372047,2.164361,Barcelona,Sants-MontjuÃ¯c,El Poble Sec - Parc de MontjuÃ¯c,second hand / in good condition,2,1,1,0,1,0,0,1,0
1,102614560,home,450000,166,41.379380,2.177694,Barcelona,Ciutat Vella,El GÃ²tic,second hand / to be restored,7,2,0,0,0,1,0,0,0
2,101675391,home,179000,58,41.379963,2.163510,Barcelona,Ciutat Vella,El Raval,second hand / to be restored,3,1,0,0,0,0,0,0,0
3,102882142,home,150000,30,41.388439,2.165341,Barcelona,Eixample,La Dreta de l'Eixample,second hand / in good condition,0,1,0,0,0,0,0,0,0
4,102001566,home,120000,62,41.371448,2.167549,Barcelona,Sants-MontjuÃ¯c,El Poble Sec - Parc de MontjuÃ¯c,second hand / to be restored,2,1,0,0,0,0,0,0,0

In [313]:
df['ad_district'].unique().sum()

'Sants-MontjuÃ¯cCiutat VellaEixampleSarriÃ -Sant GervasiNou BarrisHorta GuinardÃ³Sant MartÃ­GrÃ ciaSant AndreuLes Corts'

In [314]:
df['ad_neighbourhood'].unique().sum()

"El Poble Sec - Parc de MontjuÃ¯cEl GÃ²ticEl RavalLa Dreta de l'EixampleSant Gervasi - GalvanyLa ProsperitatCan Peguera - El TurÃ³ de la PeiraLa Sagrada FamÃ­liaSants - BadalEl Baix GuinardÃ³El CarmelLa GuineuetaPortaLa Verneda i la PauSant MartÃ­ de ProvenÃ§alsEl Camp d'En Grassot i GrÃ cia NovaVila de GrÃ ciaLa Nova Esquerra de l'EixampleEl Camp de l'Arpa del ClotBarÃ³ de ViverEl CongrÃ©s i els IndiansLa BarcelonetaEl GuinardÃ³Can BarÃ³La Marina del PortSant Pere - Santa Caterina i la RiberaSant AndreuEl Fort PiencHostafrancsL'Antiga Esquerra de l'EixampleLes CortsLes RoquetesVilapicina i la Torre LlobetaEl ClotProvenÃ§als del PoblenouSant AntoniLa TeixoneraEl BesÃ²sCiutat Meridiana - Torre BarÃ³ - VallbonaLa Vila OlÃ­mpica del PoblenouSantsEl PoblenouVallcarca i els PenitentsEl Bon PastorHortaNavasSant Gervasi - La BonanovaLa Trinitat VellaEl CollEl Parc i la Llacuna del PoblenouLa BordetaLa Vall d'Hebron - La ClotaLa Font de la GuatllaLa Maternitat i Sant RamonEl Putxet i el FarrÃ³La SagreraDiagonal Mar i el Front MarÃ­tim del PoblenouCanyellesSarriÃ La Marina del Prat VermellLa Font d'En FarguesVerdunSant GenÃ­s Dels Agudells - MontbauVallvidrera - El Tibidabo i les PlanesLa SalutLes Tres TorresLa Trinitat NovaZona Franca - PortPedralbes"

In [315]:
columns_to_lowercase = ['ad_neighbourhood', 'ad_district']

for column in columns_to_lowercase:
    if column in df.columns and df[column].dtype == 'O':
        df[column] = df[column].str.lower()

In [316]:
df['ad_district'].unique().sum()

'sants-montjuÃ¯cciutat vellaeixamplesarriÃ -sant gervasinou barrishorta guinardÃ³sant martÃ­grÃ ciasant andreules corts'

In [317]:
df['ad_neighbourhood'].unique().sum()

"el poble sec - parc de montjuÃ¯cel gÃ²ticel ravalla dreta de l'eixamplesant gervasi - galvanyla prosperitatcan peguera - el turÃ³ de la peirala sagrada famÃ­liasants - badalel baix guinardÃ³el carmella guineuetaportala verneda i la pausant martÃ­ de provenÃ§alsel camp d'en grassot i grÃ cia novavila de grÃ ciala nova esquerra de l'eixampleel camp de l'arpa del clotbarÃ³ de viverel congrÃ©s i els indiansla barcelonetael guinardÃ³can barÃ³la marina del portsant pere - santa caterina i la riberasant andreuel fort pienchostafrancsl'antiga esquerra de l'eixampleles cortsles roquetesvilapicina i la torre llobetael clotprovenÃ§als del poblenousant antonila teixonerael besÃ²sciutat meridiana - torre barÃ³ - vallbonala vila olÃ­mpica del poblenousantsel poblenouvallcarca i els penitentsel bon pastorhortanavassant gervasi - la bonanovala trinitat vellael collel parc i la llacuna del poblenoula bordetala vall d'hebron - la clotala font de la guatllala maternitat i sant ramonel putxet i el farrÃ³la sagreradiagonal mar i el front marÃ­tim del poblenoucanyellessarriÃ la marina del prat vermellla font d'en farguesverdunsant genÃ­s dels agudells - montbauvallvidrera - el tibidabo i les planesla salutles tres torresla trinitat novazona franca - portpedralbes"

In [318]:
df.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/idealista_tableau.csv', index=False)

### Cleaning Geojson barris Dataset

In [319]:
#1

In [343]:
import json

geojson_file_path = '../Data/barris.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

for feature in geojson_data['features']:
    feature['properties']['NOM'] = feature['properties']['NOM'].lower()

with open(geojson_file_path, 'w') as f:
    json.dump(geojson_data, f, indent=2)

print("GeoJSON file has been updated and saved.")

GeoJSON file has been updated and saved.

In [344]:
name_mapping = {
    'ciutat meridiana - torre barÃ³ - vallbona': ['ciutat meridiana', 'torre barÃ³', 'vallbona'],
    'el gÃ²tic': 'el barri gÃ²tic',
    'el besÃ²s': 'el besÃ²s i el maresme',
    'el poble sec - parc de montjuÃ¯c': 'el poble-sec',
    'la marina del port': 'la marina de port',
    'vila de grÃ cia': 'la vila de grÃ cia',
    'sant pere - santa caterina i la ribera': 'sant pere,santa caterina i la ribera',
    'vallvidrera - el tibidabo i les planes': 'vallvidrera,el tibidabo i les planes',
    'can peguera - el turÃ³ de la peira': ['can peguera' , 'el turÃ³ de la peira'],
    "la vall d'hebron - la clota": ["la vall d'hebron", 'la clota'],
    'sant genÃ­s dels agudells - montbau': ['sant genÃ­s dels agudells', 'montbau'],
}

In [335]:
"""import json

geojson_file_path = '../Data/barris.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

barri_1 = geojson_data["features"][0]

for barri in geojson_data["features"]:
    name = barri["properties"]["NOM"]
    if name in name_mapping.keys():
        name = """

In [ ]:
#2

In [ ]:
geojson_file_path = '../Data/barris.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

features = geojson_data['features']

In [ ]:
df_barris = pd.json_normalize(features)

In [ ]:
#3

In [ ]:
import geopandas as gpd

geojson_file_path = '../Data/barris.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

gdf_geojson = gpd.GeoDataFrame.from_features(geojson_data['features'])

csv_file_path = '../Data/idealista_tableau.csv'  # Replace with the actual path
df_csv = pd.read_csv(csv_file_path)

In [ ]:
neighborhoods_geojson = set(gdf_geojson['NOM'])
neighborhoods_main = set(df_csv['ad_neighbourhood'])

mismatched_names = neighborhoods_main - neighborhoods_geojson

In [ ]:
print(mismatched_names)

{'la marina del port', 'el gÃ²tic', 'el poble sec - parc de montjuÃ¯c', 'vallvidrera - el tibidabo i les planes', 'sant genÃ­s dels agudells - montbau', 'can peguera - el turÃ³ de la peira', "la vall d'hebron - la clota", 'sant pere - santa caterina i la ribera', 'el besÃ²s', 'zona franca - port', 'vila de grÃ cia', 'ciutat meridiana - torre barÃ³ - vallbona'}

In [345]:
name_mapping = {
    'ciutat meridiana - torre barÃ³ - vallbona': ['ciutat meridiana', 'torre barÃ³', 'vallbona'],
    'el gÃ²tic': 'el barri gÃ²tic',
    'el besÃ²s': 'el besÃ²s i el maresme',
    'el poble sec - parc de montjuÃ¯c': 'el poble-sec',
    'la marina del port': 'la marina de port',
    'vila de grÃ cia': 'la vila de grÃ cia',
    'sant pere - santa caterina i la ribera': 'sant pere,santa caterina i la ribera',
    'vallvidrera - el tibidabo i les planes': 'vallvidrera,el tibidabo i les planes',
    'can peguera - el turÃ³ de la peira': ['can peguera' , 'el turÃ³ de la peira'],
    "la vall d'hebron - la clota": ["la vall d'hebron", 'la clota'],
    'sant genÃ­s dels agudells - montbau': ['sant genÃ­s dels agudells', 'montbau'],
}

In [346]:
df_csv['ad_neighbourhood'] = df_csv['ad_neighbourhood'].apply(lambda x: name_mapping.get(x, x))

In [347]:
df_csv.head()

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,...,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden,new,new2
0,102924121,home,315000,61,41.372047,2.164361,Barcelona,sants-montjuÃ¯c,el poble-sec,second hand / in good condition,...,1,1,0,1,0,0,1,0,el poble sec,el poble-sec
1,102614560,home,450000,166,41.379380,2.177694,Barcelona,ciutat vella,el barri gÃ²tic,second hand / to be restored,...,2,0,0,0,1,0,0,0,el gÃ²tic,el barri gÃ²tic
2,101675391,home,179000,58,41.379963,2.163510,Barcelona,ciutat vella,el raval,second hand / to be restored,...,1,0,0,0,0,0,0,0,el raval,NaN
3,102882142,home,150000,30,41.388439,2.165341,Barcelona,eixample,la dreta de l'eixample,second hand / in good condition,...,1,0,0,0,0,0,0,0,la dreta de l'eixample,NaN
4,102001566,home,120000,62,41.371448,2.167549,Barcelona,sants-montjuÃ¯c,el poble-sec,second hand / to be restored,...,1,0,0,0,0,0,0,0,el poble sec,el poble-sec

In [ ]:
if any(isinstance(val, list) for val in df_csv['ad_neighbourhood']):
    df_csv = df_csv.explode('ad_neighbourhood')

In [342]:
df_csv["new2"]

0             el poble-sec
1           el barri gÃ²tic
2                      NaN
3                      NaN
4             el poble-sec
               ...
39706                  NaN
39707                  NaN
39708                  NaN
39709                  NaN
39710    la vila de grÃ cia
Name: new2, Length: 39711, dtype: object

In [339]:
# df_csv["new"] = df["ad_neighbourhood"].apply(lambda x: x.split("-")[0].strip())

In [340]:
df_csv["new"].unique()

array(['el poble sec', 'el gÃ²tic', 'el raval', "la dreta de l'eixample",
       'sant gervasi', 'la prosperitat', 'can peguera',
       'la sagrada famÃ­lia', 'sants', 'el baix guinardÃ³', 'el carmel',
       'la guineueta', 'porta', 'la verneda i la pau',
       'sant martÃ­ de provenÃ§als', "el camp d'en grassot i grÃ cia nova",
       'vila de grÃ cia', "la nova esquerra de l'eixample",
       "el camp de l'arpa del clot", 'barÃ³ de viver',
       'el congrÃ©s i els indians', 'la barceloneta', 'el guinardÃ³',
       'can barÃ³', 'la marina del port', 'sant pere', 'sant andreu',
       'el fort pienc', 'hostafrancs', "l'antiga esquerra de l'eixample",
       'les corts', 'les roquetes', 'vilapicina i la torre llobeta',
       'el clot', 'provenÃ§als del poblenou', 'sant antoni',
       'la teixonera', 'el besÃ²s', 'ciutat meridiana',
       'la vila olÃ­mpica del poblenou', 'el poblenou',
       'vallcarca i els penitents', 'el bon pastor', 'horta', 'navas',
       'la trinitat vella', 'el coll',
       'el parc i la llacuna del poblenou', 'la bordeta',
       "la vall d'hebron", 'la font de la guatlla',
       'la maternitat i sant ramon', 'el putxet i el farrÃ³', 'la sagrera',
       'diagonal mar i el front marÃ­tim del poblenou', 'canyelles',
       'sarriÃ ', 'la marina del prat vermell', "la font d'en fargues",
       'verdun', 'sant genÃ­s dels agudells', 'vallvidrera', 'la salut',
       'les tres torres', 'la trinitat nova', 'zona franca', 'pedralbes'],
      dtype=object)

In [324]:
df_csv.sample(10)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
27031,100627977,home,235000,80,41.417096,2.178747,Barcelona,horta guinardÃ³,el guinardÃ³,second hand / in good condition,3,1,0,0,1,1,0,1,0
14576,101959173,home,134000,50,41.421131,2.143922,Barcelona,horta guinardÃ³,la teixonera,second hand / in good condition,2,1,0,0,0,0,0,0,0
18122,102224158,home,255000,74,41.422475,2.183856,Barcelona,sant andreu,navas,second hand / in good condition,2,1,0,0,1,1,1,1,1
23368,100371770,home,170000,49,41.422897,2.175028,Barcelona,horta guinardÃ³,el guinardÃ³,second hand / in good condition,2,1,1,0,0,0,0,0,0
26005,103140587,home,255000,70,41.421372,2.201929,Barcelona,sant martÃ­,la verneda i la pau,second hand / in good condition,3,1,1,0,0,0,0,0,0
32040,102264556,home,120000,45,41.359883,2.140049,Barcelona,sants-montjuÃ¯c,la marina de port,second hand / in good condition,1,1,0,0,0,0,0,0,0
21751,102922388,home,2200000,273,41.390815,2.163450,Barcelona,eixample,la dreta de l'eixample,second hand / to be restored,4,3,1,0,1,1,1,1,0
29786,100537142,home,195000,74,41.422965,2.182971,Barcelona,sant andreu,el congrÃ©s i els indians,second hand / in good condition,2,1,0,0,0,0,0,0,0
27514,99936948,home,94000,84,41.377456,2.131390,Barcelona,sants-montjuÃ¯c,sants,second hand / to be restored,3,1,0,0,0,0,0,0,0
20060,100291118,home,195000,90,41.358286,2.141689,Barcelona,sants-montjuÃ¯c,la marina de port,second hand / to be restored,3,1,1,0,0,0,0,1,0

In [ ]:
el_barri_gotic_rows = df_csv[df_csv['ad_neighbourhood'] == 'el barri gÃ²tic']

In [ ]:
el_barri_gotic_rows

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
1,102614560,home,450000,166,41.379380,2.177694,Barcelona,ciutat vella,el barri gÃ²tic,second hand / to be restored,7,2,0,0,0,1,0,0,0
87,101941539,home,319000,93,41.380233,2.177253,Barcelona,ciutat vella,el barri gÃ²tic,second hand / in good condition,2,1,0,0,0,0,0,0,0
152,102922528,home,250000,50,41.380152,2.181231,Barcelona,ciutat vella,el barri gÃ²tic,second hand / in good condition,1,1,1,0,1,0,0,1,0
318,103112471,home,495000,130,41.382114,2.177683,Barcelona,ciutat vella,el barri gÃ²tic,second hand / to be restored,4,1,1,0,0,0,0,0,0
455,100219514,home,800,65,41.380584,2.177735,Barcelona,ciutat vella,el barri gÃ²tic,second hand / in good condition,2,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39270,102001562,home,299000,69,41.379634,2.178387,Barcelona,ciutat vella,el barri gÃ²tic,second hand / to be restored,3,1,0,0,1,0,0,0,0
39271,101697237,home,615000,138,41.383821,2.175874,Barcelona,ciutat vella,el barri gÃ²tic,second hand / in good condition,5,2,1,0,0,0,0,1,0
39457,102608627,home,380000,80,41.384597,2.173832,Barcelona,ciutat vella,el barri gÃ²tic,second hand / in good condition,2,2,1,0,0,0,0,1,0
39458,82985725,home,275000,47,41.382439,2.171556,Barcelona,ciutat vella,el barri gÃ²tic,second hand / in good condition,1,1,1,0,0,0,0,1,0
39459,103211885,home,325000,77,41.378103,2.180334,Barcelona,ciutat vella,el barri gÃ²tic,second hand / in good condition,1,1,1,0,1,0,0,1,0

In [ ]:
df_improved = df_csv

In [ ]:
columns_to_drop = ['ad_town']
df_improved = drop_columns(df_improved, columns_to_drop)

In [ ]:
df_csv['ad_neighbourhood'] = df_csv['ad_neighbourhood'].str.strip()
# gdf_geojson['neighborhood_name'] = gdf_geojson['neighborhood_name'].str.strip()

In [ ]:
df_improved.sample(13)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
14742,101523863,home,289000,60,41.375644,2.168255,ciutat vella,el raval,second hand / in good condition,2,1,0,0,0,0,0,0,0
27505,103046718,home,1119000,198,41.396975,2.181522,eixample,el fort pienc,second hand / in good condition,4,3,1,0,1,1,0,1,0
30236,100412284,home,385000,65,41.392596,2.169133,eixample,la dreta de l'eixample,second hand / in good condition,2,1,1,0,1,0,0,0,0
9525,101936941,home,980000,161,41.402852,2.178630,eixample,el fort pienc,second hand / in good condition,4,3,1,1,0,0,1,1,1
24578,102528008,home,190000,100,41.421115,2.209974,sant martÃ­,la verneda i la pau,second hand / in good condition,3,1,1,0,1,0,0,1,0
9422,101949533,home,309000,91,41.427006,2.182904,sant andreu,el congrÃ©s i els indians,second hand / in good condition,3,1,1,0,1,1,0,0,0
16165,103178330,home,550000,73,41.403519,2.211017,sant martÃ­,diagonal mar i el front marÃ­tim del poblenou,second hand / in good condition,2,1,1,0,1,1,1,1,0
1065,102824609,home,285000,85,41.427107,2.182930,sant andreu,el congrÃ©s i els indians,second hand / in good condition,4,1,1,0,1,0,0,1,0
39424,102093192,home,205000,69,41.373354,2.129964,sants-montjuÃ¯c,sants - badal,second hand / in good condition,3,1,1,0,0,0,0,0,0
20144,101007208,home,160000,69,41.442106,2.187308,sant andreu,sant andreu,second hand / in good condition,3,1,1,0,0,0,0,0,0
9857,97262871,home,499000,67,41.405647,2.173898,eixample,la sagrada famÃ­lia,second hand / in good condition,3,1,0,0,0,1,0,1,0
24736,101612464,home,222000,77,41.427428,2.187115,sant andreu,la sagrera,second hand / in good condition,3,1,0,0,0,1,0,0,0
21075,98680063,home,290000,88,41.401262,2.175292,eixample,la sagrada famÃ­lia,second hand / to be restored,3,1,0,0,1,0,0,0,0

In [ ]:
df_improved.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/idealista_tableau.csv', index=False)