In [2]:
#Libraries:

import pandas as pd
import numpy as np
import pprint
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../Data/dataset_idealista.csv")

In [4]:
df.head()

,ad_id,ad_state_Value,ad_operation_Value,ad_typology_Value,ad_price,ad_area,ad_activationdate,ad_deactivationdate,ad_latitude,ad_longitude,...,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,inactive ad,sale,home,315000,61.0,2023-11-03,2023-11-10,41.372047,2.164361,...,second hand / in good condition,2,1,1.0,NaN,1.0,NaN,NaN,1.0,NaN
1,102614560,inactive ad,sale,home,450000,166.0,2023-09-20,2023-11-10,41.379380,2.177694,...,second hand / to be restored,7,2,0.0,NaN,NaN,1.0,NaN,NaN,NaN
2,101675391,inactive ad,sale,home,179000,58.0,2023-06-08,2023-11-06,41.379963,2.163510,...,second hand / to be restored,3,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,102882142,inactive ad,sale,home,150000,30.0,2023-10-17,2023-11-09,41.388439,2.165341,...,second hand / in good condition,0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,102001566,inactive ad,sale,home,120000,62.0,2023-08-28,2023-11-07,41.371448,2.167549,...,second hand / to be restored,2,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print(df.columns)

Index(['ad_id', 'ad_state_Value', 'ad_operation_Value', 'ad_typology_Value',
       'ad_price', 'ad_area', 'ad_activationdate', 'ad_deactivationdate',
       'ad_latitude', 'ad_longitude', 'ad_town', 'ad_district',
       'ad_neighbourhood', 'ad_builttype_Value', 'ad_roomnumber',
       'ad_bathnumber', 'ad_haslift', 'ad_hasswimmingpool', 'ad_hasheating',
       'ad_hasterrace', 'ad_hasparkingspace', 'ad_hasairconditioning',
       'ad_hasgarden'],
      dtype='object')

In [ ]:
# I will start by removing unnecessary columns that are useless for both the training the model as well as the visualization

In [8]:
def drop_columns(dataframe, columns_to_drop):

    return dataframe.drop(columns=columns_to_drop, errors='ignore')

In [14]:
columns_to_drop = ['ad_state_Value','ad_operation_Value', 'ad_activationdate', 'ad_deactivationdate']
df = drop_columns(df, columns_to_drop)

In [ ]:
# Now i will handle null values

In [23]:
columns_to_fill = ['ad_area','ad_haslift', 'ad_hasswimmingpool', 'ad_hasheating', 'ad_hasterrace', 'ad_hasparkingspace', 'ad_hasairconditioning', 'ad_hasgarden']
df[columns_to_fill] = df[columns_to_fill].fillna(0).astype(int)

In [24]:
columns_with_nulls = df.columns[df.isnull().any()]
null_counts = df[columns_with_nulls].isnull().sum().sort_values(ascending=False)

print("Columns with the most null values:")
print(null_counts)

Columns with the most null values:
Series([], dtype: float64)

In [25]:
df.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/clean_idealista.csv', index=False)