In [871]:
#Libraries:

import pandas as pd
import numpy as np
import pprint
import seaborn as sns
import matplotlib.pyplot as plt

import json

### Cleaning Main Dataset for training

In [872]:
df = pd.read_csv("../Data/dataset_idealista.csv")

In [873]:
df.head()

,ad_id,ad_state_Value,ad_operation_Value,ad_typology_Value,ad_price,ad_area,ad_activationdate,ad_deactivationdate,ad_latitude,ad_longitude,...,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,inactive ad,sale,home,315000,61.0,2023-11-03,2023-11-10,41.372047,2.164361,...,second hand / in good condition,2,1,1.0,NaN,1.0,NaN,NaN,1.0,NaN
1,102614560,inactive ad,sale,home,450000,166.0,2023-09-20,2023-11-10,41.379380,2.177694,...,second hand / to be restored,7,2,0.0,NaN,NaN,1.0,NaN,NaN,NaN
2,101675391,inactive ad,sale,home,179000,58.0,2023-06-08,2023-11-06,41.379963,2.163510,...,second hand / to be restored,3,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,102882142,inactive ad,sale,home,150000,30.0,2023-10-17,2023-11-09,41.388439,2.165341,...,second hand / in good condition,0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,102001566,inactive ad,sale,home,120000,62.0,2023-08-28,2023-11-07,41.371448,2.167549,...,second hand / to be restored,2,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [874]:
print(df.columns)

Index(['ad_id', 'ad_state_Value', 'ad_operation_Value', 'ad_typology_Value',
       'ad_price', 'ad_area', 'ad_activationdate', 'ad_deactivationdate',
       'ad_latitude', 'ad_longitude', 'ad_town', 'ad_district',
       'ad_neighbourhood', 'ad_builttype_Value', 'ad_roomnumber',
       'ad_bathnumber', 'ad_haslift', 'ad_hasswimmingpool', 'ad_hasheating',
       'ad_hasterrace', 'ad_hasparkingspace', 'ad_hasairconditioning',
       'ad_hasgarden'],
      dtype='object')

In [875]:
# I will start by removing unnecessary columns that are useless for both the training the model as well as the visualization

In [876]:
def drop_columns(dataframe, columns_to_drop):

    return dataframe.drop(columns=columns_to_drop, errors='ignore')

In [877]:
columns_to_drop = ['ad_state_Value','ad_operation_Value', 'ad_activationdate', 'ad_deactivationdate']
df = drop_columns(df, columns_to_drop)

In [878]:
# Now i will handle null values

In [879]:
columns_to_fill = ['ad_area','ad_haslift', 'ad_hasswimmingpool', 'ad_hasheating', 'ad_hasterrace', 'ad_hasparkingspace', 'ad_hasairconditioning', 'ad_hasgarden']
df[columns_to_fill] = df[columns_to_fill].fillna(0).astype(int)

In [880]:
columns_with_nulls = df.columns[df.isnull().any()]
null_counts = df[columns_with_nulls].isnull().sum().sort_values(ascending=False)

print("Columns with the most null values:")
print(null_counts)

Columns with the most null values:
Series([], dtype: float64)

In [881]:
df.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/clean_idealista.csv', index=False)

### cleaning main dataset for Tableau

In [882]:
df.head()

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,home,315000,61,41.372047,2.164361,Barcelona,Sants-MontjuÃ¯c,El Poble Sec - Parc de MontjuÃ¯c,second hand / in good condition,2,1,1,0,1,0,0,1,0
1,102614560,home,450000,166,41.379380,2.177694,Barcelona,Ciutat Vella,El GÃ²tic,second hand / to be restored,7,2,0,0,0,1,0,0,0
2,101675391,home,179000,58,41.379963,2.163510,Barcelona,Ciutat Vella,El Raval,second hand / to be restored,3,1,0,0,0,0,0,0,0
3,102882142,home,150000,30,41.388439,2.165341,Barcelona,Eixample,La Dreta de l'Eixample,second hand / in good condition,0,1,0,0,0,0,0,0,0
4,102001566,home,120000,62,41.371448,2.167549,Barcelona,Sants-MontjuÃ¯c,El Poble Sec - Parc de MontjuÃ¯c,second hand / to be restored,2,1,0,0,0,0,0,0,0

In [883]:
df['ad_district'].unique().sum()

'Sants-MontjuÃ¯cCiutat VellaEixampleSarriÃ -Sant GervasiNou BarrisHorta GuinardÃ³Sant MartÃ­GrÃ ciaSant AndreuLes Corts'

In [884]:
df['ad_neighbourhood'].unique().sum()

"El Poble Sec - Parc de MontjuÃ¯cEl GÃ²ticEl RavalLa Dreta de l'EixampleSant Gervasi - GalvanyLa ProsperitatCan Peguera - El TurÃ³ de la PeiraLa Sagrada FamÃ­liaSants - BadalEl Baix GuinardÃ³El CarmelLa GuineuetaPortaLa Verneda i la PauSant MartÃ­ de ProvenÃ§alsEl Camp d'En Grassot i GrÃ cia NovaVila de GrÃ ciaLa Nova Esquerra de l'EixampleEl Camp de l'Arpa del ClotBarÃ³ de ViverEl CongrÃ©s i els IndiansLa BarcelonetaEl GuinardÃ³Can BarÃ³La Marina del PortSant Pere - Santa Caterina i la RiberaSant AndreuEl Fort PiencHostafrancsL'Antiga Esquerra de l'EixampleLes CortsLes RoquetesVilapicina i la Torre LlobetaEl ClotProvenÃ§als del PoblenouSant AntoniLa TeixoneraEl BesÃ²sCiutat Meridiana - Torre BarÃ³ - VallbonaLa Vila OlÃ­mpica del PoblenouSantsEl PoblenouVallcarca i els PenitentsEl Bon PastorHortaNavasSant Gervasi - La BonanovaLa Trinitat VellaEl CollEl Parc i la Llacuna del PoblenouLa BordetaLa Vall d'Hebron - La ClotaLa Font de la GuatllaLa Maternitat i Sant RamonEl Putxet i el FarrÃ³La SagreraDiagonal Mar i el Front MarÃ­tim del PoblenouCanyellesSarriÃ La Marina del Prat VermellLa Font d'En FarguesVerdunSant GenÃ­s Dels Agudells - MontbauVallvidrera - El Tibidabo i les PlanesLa SalutLes Tres TorresLa Trinitat NovaZona Franca - PortPedralbes"

In [885]:
columns_to_lowercase = ['ad_neighbourhood', 'ad_district']

for column in columns_to_lowercase:
    if column in df.columns and df[column].dtype == 'O':
        df[column] = df[column].str.lower()

In [886]:
df['ad_district'].unique().sum()

'sants-montjuÃ¯cciutat vellaeixamplesarriÃ -sant gervasinou barrishorta guinardÃ³sant martÃ­grÃ ciasant andreules corts'

In [887]:
df['ad_neighbourhood'].unique().sum()

"el poble sec - parc de montjuÃ¯cel gÃ²ticel ravalla dreta de l'eixamplesant gervasi - galvanyla prosperitatcan peguera - el turÃ³ de la peirala sagrada famÃ­liasants - badalel baix guinardÃ³el carmella guineuetaportala verneda i la pausant martÃ­ de provenÃ§alsel camp d'en grassot i grÃ cia novavila de grÃ ciala nova esquerra de l'eixampleel camp de l'arpa del clotbarÃ³ de viverel congrÃ©s i els indiansla barcelonetael guinardÃ³can barÃ³la marina del portsant pere - santa caterina i la riberasant andreuel fort pienchostafrancsl'antiga esquerra de l'eixampleles cortsles roquetesvilapicina i la torre llobetael clotprovenÃ§als del poblenousant antonila teixonerael besÃ²sciutat meridiana - torre barÃ³ - vallbonala vila olÃ­mpica del poblenousantsel poblenouvallcarca i els penitentsel bon pastorhortanavassant gervasi - la bonanovala trinitat vellael collel parc i la llacuna del poblenoula bordetala vall d'hebron - la clotala font de la guatllala maternitat i sant ramonel putxet i el farrÃ³la sagreradiagonal mar i el front marÃ­tim del poblenoucanyellessarriÃ la marina del prat vermellla font d'en farguesverdunsant genÃ­s dels agudells - montbauvallvidrera - el tibidabo i les planesla salutles tres torresla trinitat novazona franca - portpedralbes"

In [888]:
df.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/idealista_tableau.csv', index=False)

### Cleaning Geojson barris Dataset

In [889]:
# I first transform all the values in  the column into lower caps

In [890]:
import json

geojson_file_path = '../Data/barris.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

for feature in geojson_data['features']:
    feature['properties']['NOM'] = feature['properties']['NOM'].lower()

with open(geojson_file_path, 'w') as f:
    json.dump(geojson_data, f, indent=2)

print("GeoJSON file has been updated and saved.")

GeoJSON file has been updated and saved.

In [891]:
geojson_file_path = '../Data/barris.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

features = geojson_data['features']

In [892]:
df_barris = pd.json_normalize(features)

In [893]:
#3

In [894]:
import geopandas as gpd

geojson_file_path = '../Data/barris.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

gdf_geojson = gpd.GeoDataFrame.from_features(geojson_data['features'])

csv_file_path = '../Data/idealista_tableau.csv'  # Replace with the actual path
df_csv = pd.read_csv(csv_file_path)

In [895]:
# here i inspect what other string mismatch between my json file and main csv file from idealista

In [896]:
neighborhoods_geojson = set(gdf_geojson['NOM'])
neighborhoods_main = set(df_csv['ad_neighbourhood'])

mismatched_names = neighborhoods_main - neighborhoods_geojson

In [897]:
print(mismatched_names)

{'la marina del port', 'vila de grÃ cia', 'can peguera - el turÃ³ de la peira', 'el besÃ²s', "la vall d'hebron - la clota", 'ciutat meridiana - torre barÃ³ - vallbona', 'sant genÃ­s dels agudells - montbau', 'el gÃ²tic', 'vallvidrera - el tibidabo i les planes', 'zona franca - port', 'el poble sec - parc de montjuÃ¯c', 'sant pere - santa caterina i la ribera'}

In [898]:
# I proceed to change the name of many of the strings in the main csv file so they become the same as in the geojson file

In [899]:
name_mapping = {
    'ciutat meridiana - torre barÃ³ - vallbona': 'ciutat meridiana - torre barÃ³ - vallbona',
    'el gÃ²tic': 'el barri gÃ²tic',
    'el besÃ²s': 'el besÃ²s i el maresme',
    'el poble sec - parc de montjuÃ¯c': 'el poble-sec',
    'la marina del port': 'la marina de port',
    'vila de grÃ cia': 'la vila de grÃ cia',
    'sant pere - santa caterina i la ribera': 'sant pere,santa caterina i la ribera',
    'vallvidrera - el tibidabo i les planes': 'vallvidrera,el tibidabo i les planes',
    'can peguera - el turÃ³ de la peira': 'can peguera - el turÃ³ de la peira',
    "la vall d'hebron - la clota": "la vall d'hebron - la clota",
    'sant genÃ­s dels agudells - montbau': 'sant genÃ­s dels agudells - montbau',
}

In [900]:
df_csv['ad_neighbourhood'] = df_csv['ad_neighbourhood'].apply(lambda x: name_mapping.get(x, x))

In [901]:
df_csv.sample(7)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
10559,100463152,home,198000,79,41.438754,2.173189,Barcelona,nou barris,verdun,second hand / in good condition,4,1,0,0,1,1,0,0,0
30886,100196141,home,260000,63,41.407501,2.167242,Barcelona,grÃ cia,el camp d'en grassot i grÃ cia nova,second hand / in good condition,3,1,1,0,0,0,0,0,0
21517,103039751,home,170000,55,41.377910,2.145520,Barcelona,sants-montjuÃ¯c,hostafrancs,second hand / to be restored,2,1,0,0,0,0,0,0,0
13603,103049758,home,270000,68,41.432287,2.149139,Barcelona,horta guinardÃ³,la vall d'hebron - la clota,second hand / in good condition,3,1,1,0,1,0,0,1,0
3296,96061438,home,320000,77,41.387576,2.172552,Barcelona,ciutat vella,el barri gÃ²tic,second hand / in good condition,4,1,0,0,1,1,0,1,0
20859,100701015,home,375000,98,41.391132,2.191714,Barcelona,sant martÃ­,la vila olÃ­mpica del poblenou,second hand / in good condition,2,2,1,0,1,1,0,1,0
25924,102723800,home,335000,124,41.426893,2.152197,Barcelona,horta guinardÃ³,el carmel,second hand / in good condition,3,2,1,0,1,1,0,0,0

In [902]:
yes = df_csv[df_csv['ad_neighbourhood'] == 'sarriÃ -sant gervasi']

In [903]:
yes

Empty DataFrame
Columns: [ad_id, ad_typology_Value, ad_price, ad_area, ad_latitude, ad_longitude, ad_town, ad_district, ad_neighbourhood, ad_builttype_Value, ad_roomnumber, ad_bathnumber, ad_haslift, ad_hasswimmingpool, ad_hasheating, ad_hasterrace, ad_hasparkingspace, ad_hasairconditioning, ad_hasgarden]
Index: []

In [904]:
# in order to modifty the correct string i create substrings to work with

In [905]:
target_strings = ['can peguera - el turÃ³ de la peira', "la vall d'hebron - la clota", 'sant genÃ­s dels agudells - montbau']
subset_df = df_csv[df_csv['ad_neighbourhood'].isin(target_strings)]

In [906]:
subset_df = pd.DataFrame(subset_df)

In [907]:
print(type(subset_df))

<class 'pandas.core.frame.DataFrame'>

In [908]:
subset_df.shape

(654, 19)

In [909]:
# new = []
# for index, row in df_csv.iterrows():
#     celda = row["ad_neighbourhood"]
#     if "-" in celda:
#         elements = len(celda.split("-"))
#         if elements == 2:
#             row_1 = row
#             row_1["ad_neighbourhood"] = celda.split("-")[0].strip()
#             new.append(dict(row_1))

#             row_2 = row
#             row_2["ad_neighbourhood"] = celda.split("-")[1].strip()
#             new.append(dict(row_2))

#     else:
#         df.append(dict(row))
# df = pd.DataFrame(new)
df

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,home,315000,61,41.372047,2.164361,Barcelona,sants-montjuÃ¯c,el poble sec - parc de montjuÃ¯c,second hand / in good condition,2,1,1,0,1,0,0,1,0
1,102614560,home,450000,166,41.379380,2.177694,Barcelona,ciutat vella,el gÃ²tic,second hand / to be restored,7,2,0,0,0,1,0,0,0
2,101675391,home,179000,58,41.379963,2.163510,Barcelona,ciutat vella,el raval,second hand / to be restored,3,1,0,0,0,0,0,0,0
3,102882142,home,150000,30,41.388439,2.165341,Barcelona,eixample,la dreta de l'eixample,second hand / in good condition,0,1,0,0,0,0,0,0,0
4,102001566,home,120000,62,41.371448,2.167549,Barcelona,sants-montjuÃ¯c,el poble sec - parc de montjuÃ¯c,second hand / to be restored,2,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39706,101983131,home,269000,90,41.413471,2.196160,Barcelona,sant martÃ­,sant martÃ­ de provenÃ§als,second hand / in good condition,4,1,1,0,0,0,0,0,0
39707,103088115,home,340000,106,41.418478,2.198262,Barcelona,sant martÃ­,sant martÃ­ de provenÃ§als,second hand / in good condition,4,2,1,0,0,0,0,0,0
39708,103056889,chalet,1600000,237,41.390064,2.107260,Barcelona,les corts,pedralbes,second hand / in good condition,4,3,0,1,0,1,1,0,1
39709,96693574,chalet,5500000,981,41.393787,2.108175,Barcelona,les corts,pedralbes,second hand / in good condition,10,8,0,1,1,1,1,0,1
39710,103277036,chalet,720000,167,41.404036,2.160615,Barcelona,grÃ cia,vila de grÃ cia,second hand / in good condition,4,2,0,0,1,1,1,1,0

In [910]:
subset_df

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
7,102792287,home,161000,62,41.432560,2.168896,Barcelona,nou barris,can peguera - el turÃ³ de la peira,second hand / in good condition,2,1,1,0,1,0,0,1,0
15,102823950,home,248000,87,41.431301,2.171388,Barcelona,nou barris,can peguera - el turÃ³ de la peira,second hand / in good condition,3,1,1,0,1,0,0,0,0
70,101230451,home,118000,57,41.433243,2.169692,Barcelona,nou barris,can peguera - el turÃ³ de la peira,second hand / to be restored,3,1,1,0,0,0,0,0,0
99,102837432,home,115000,49,41.432400,2.166549,Barcelona,nou barris,can peguera - el turÃ³ de la peira,second hand / to be restored,2,1,1,0,0,0,0,0,0
168,102685582,home,229000,72,41.432275,2.145356,Barcelona,horta guinardÃ³,la vall d'hebron - la clota,second hand / to be restored,3,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39608,102718996,home,199000,85,41.427369,2.141055,Barcelona,horta guinardÃ³,sant genÃ­s dels agudells - montbau,second hand / in good condition,1,1,0,0,1,1,0,0,0
39609,92610419,home,295000,67,41.429549,2.132055,Barcelona,horta guinardÃ³,sant genÃ­s dels agudells - montbau,second hand / in good condition,2,1,1,0,0,1,1,0,0
39655,101939747,home,139600,78,41.433295,2.165244,Barcelona,nou barris,can peguera - el turÃ³ de la peira,second hand / in good condition,4,1,0,0,0,0,0,0,0
39656,102701924,home,137000,58,41.433074,2.168062,Barcelona,nou barris,can peguera - el turÃ³ de la peira,second hand / to be restored,3,1,1,0,1,0,0,0,0
39657,103041001,home,110000,50,41.434744,2.168715,Barcelona,nou barris,can peguera - el turÃ³ de la peira,second hand / in good condition,2,1,1,0,0,0,0,0,0

In [911]:
# new = []
# for index, row in subset_df.iterrows():
#     celda = row["ad_neighbourhood"]
#     if "-" in celda:
#         elements = len(celda.split(" - "))
#         if elements == 2:
#             row_1 = row
#             row_1["ad_neighbourhood"] = celda.split("-")[0].strip()
#             new.append(row_1)

#             row_2 = row
#             row_2["ad_neighbourhood"] = celda.split("-")[1].strip()
#             new.append(row_2)
#         else:
#             new.append(row)
#     else:
#         new.append(row)

# df = pd.DataFrame(new)


new = []
for index, row in subset_df.iterrows():
    celda = row["ad_neighbourhood"]
    if "-" in celda:
        elements = len(celda.split("-"))
        if elements == 2:
            row_1 = row
            row_1["ad_neighbourhood"] = celda.split("-")[0].strip()
            new.append(dict(row_1))

            row_2 = row
            row_2["ad_neighbourhood"] = celda.split("-")[1].strip()
            new.append(dict(row_2))

    else:
        df.append(dict(row))
df = pd.DataFrame(new)

In [912]:
df.shape

(1308, 19)

In [913]:
df.head(10)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102792287,home,161000,62,41.432560,2.168896,Barcelona,nou barris,can peguera,second hand / in good condition,2,1,1,0,1,0,0,1,0
1,102792287,home,161000,62,41.432560,2.168896,Barcelona,nou barris,el turÃ³ de la peira,second hand / in good condition,2,1,1,0,1,0,0,1,0
2,102823950,home,248000,87,41.431301,2.171388,Barcelona,nou barris,can peguera,second hand / in good condition,3,1,1,0,1,0,0,0,0
3,102823950,home,248000,87,41.431301,2.171388,Barcelona,nou barris,el turÃ³ de la peira,second hand / in good condition,3,1,1,0,1,0,0,0,0
4,101230451,home,118000,57,41.433243,2.169692,Barcelona,nou barris,can peguera,second hand / to be restored,3,1,1,0,0,0,0,0,0
5,101230451,home,118000,57,41.433243,2.169692,Barcelona,nou barris,el turÃ³ de la peira,second hand / to be restored,3,1,1,0,0,0,0,0,0
6,102837432,home,115000,49,41.432400,2.166549,Barcelona,nou barris,can peguera,second hand / to be restored,2,1,1,0,0,0,0,0,0
7,102837432,home,115000,49,41.432400,2.166549,Barcelona,nou barris,el turÃ³ de la peira,second hand / to be restored,2,1,1,0,0,0,0,0,0
8,102685582,home,229000,72,41.432275,2.145356,Barcelona,horta guinardÃ³,la vall d'hebron,second hand / to be restored,3,1,1,0,0,0,0,1,0
9,102685582,home,229000,72,41.432275,2.145356,Barcelona,horta guinardÃ³,la clota,second hand / to be restored,3,1,1,0,0,0,0,1,0

In [914]:
df_csv.shape

(39711, 19)

In [915]:
df_csv = df_csv[~df_csv['ad_neighbourhood'].str.contains('can peguera - el turÃ³ de la peira')]

In [916]:
df_csv = df_csv[~df_csv['ad_neighbourhood'].str.contains("la vall d'hebron - la clota")]

In [917]:
df_csv = df_csv[~df_csv['ad_neighbourhood'].str.contains('sant genÃ­s dels agudells - montbau')]

In [918]:
df_csv.shape

(39057, 19)

In [919]:
semi_df = pd.concat([df_csv, df], ignore_index=True)

In [920]:
semi_df

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,home,315000,61,41.372047,2.164361,Barcelona,sants-montjuÃ¯c,el poble-sec,second hand / in good condition,2,1,1,0,1,0,0,1,0
1,102614560,home,450000,166,41.379380,2.177694,Barcelona,ciutat vella,el barri gÃ²tic,second hand / to be restored,7,2,0,0,0,1,0,0,0
2,101675391,home,179000,58,41.379963,2.163510,Barcelona,ciutat vella,el raval,second hand / to be restored,3,1,0,0,0,0,0,0,0
3,102882142,home,150000,30,41.388439,2.165341,Barcelona,eixample,la dreta de l'eixample,second hand / in good condition,0,1,0,0,0,0,0,0,0
4,102001566,home,120000,62,41.371448,2.167549,Barcelona,sants-montjuÃ¯c,el poble-sec,second hand / to be restored,2,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40360,101939747,home,139600,78,41.433295,2.165244,Barcelona,nou barris,el turÃ³ de la peira,second hand / in good condition,4,1,0,0,0,0,0,0,0
40361,102701924,home,137000,58,41.433074,2.168062,Barcelona,nou barris,can peguera,second hand / to be restored,3,1,1,0,1,0,0,0,0
40362,102701924,home,137000,58,41.433074,2.168062,Barcelona,nou barris,el turÃ³ de la peira,second hand / to be restored,3,1,1,0,1,0,0,0,0
40363,103041001,home,110000,50,41.434744,2.168715,Barcelona,nou barris,can peguera,second hand / in good condition,2,1,1,0,0,0,0,0,0
40364,103041001,home,110000,50,41.434744,2.168715,Barcelona,nou barris,el turÃ³ de la peira,second hand / in good condition,2,1,1,0,0,0,0,0,0

In [921]:
target_strings_2 = ['ciutat meridiana - torre barÃ³ - vallbona']
subset_df_2 = df_csv[df_csv['ad_neighbourhood'].isin(target_strings_2)]

In [922]:
subset_df_2.shape

(488, 19)

In [930]:
# new = []
# for index, row in subset_df_2.iterrows():
#     celda = row["ad_neighbourhood"]
#     if "-" in celda:
#         elements = len(celda.split(" - "))
#         if elements == 3:
#             row_1 = row
#             row_1["ad_neighbourhood"] = celda.split("-")[0].strip()
#             new.append(row_1)

#             row_3 = row
#             row_3["ad_neighbourhood"] = celda.split("-")[1].strip()
#             new.append(row_2)

#             row_3 = row
#             row_3["ad_neighbourhood"] = celda.split("-")[2].strip()
#             new.append(row_3)
#         else:
#             new.append(row)
#     else:
#         new.append(row)

# df_2 = pd.DataFrame(new)

new = []
for index, row in subset_df_2.iterrows():
    celda = row["ad_neighbourhood"]
    if "-" in celda:
        elements = len(celda.split("-"))
        if elements == 3:
            row_1 = row
            row_1["ad_neighbourhood"] = celda.split("-")[0].strip()
            new.append(dict(row_1))

            row_2 = row
            row_2["ad_neighbourhood"] = celda.split("-")[1].strip()
            new.append(dict(row_2))

            row_3 = row
            row_3["ad_neighbourhood"] = celda.split("-")[2].strip()
            new.append(dict(row_3))

    else:
        df.append(dict(row))
df_2 = pd.DataFrame(new)

In [931]:
df_2.head(5)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,98669018,home,107000,65,41.459737,2.176431,Barcelona,nou barris,ciutat meridiana,second hand / in good condition,3,1,1,0,0,0,0,0,0
1,98669018,home,107000,65,41.459737,2.176431,Barcelona,nou barris,torre barÃ³,second hand / in good condition,3,1,1,0,0,0,0,0,0
2,98669018,home,107000,65,41.459737,2.176431,Barcelona,nou barris,vallbona,second hand / in good condition,3,1,1,0,0,0,0,0,0
3,102860061,home,97000,60,41.461201,2.172637,Barcelona,nou barris,ciutat meridiana,second hand / in good condition,2,1,0,0,1,0,0,1,1
4,102860061,home,97000,60,41.461201,2.172637,Barcelona,nou barris,torre barÃ³,second hand / in good condition,2,1,0,0,1,0,0,1,1

In [932]:
df_2.shape

(1464, 19)

In [937]:
semi_df = semi_df[~semi_df['ad_neighbourhood'].str.contains('ciutat meridiana - torre barÃ³ - vallbona')]

In [938]:
semi_df.shape

(39877, 19)

In [939]:
final_csv = pd.concat([semi_df, df_2], ignore_index=True)

In [943]:
final_csv.shape

(41341, 19)

In [941]:
final_csv = final_csv.reset_index(drop=True)

In [945]:
final_csv.tail(10)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
41331,92520500,home,135500,84,41.456077,2.182290,Barcelona,nou barris,vallbona,second hand / in good condition,3,1,1,0,0,0,0,0,0
41332,101689050,home,59900,59,41.462040,2.173478,Barcelona,nou barris,ciutat meridiana,second hand / to be restored,3,1,0,0,0,0,0,0,0
41333,101689050,home,59900,59,41.462040,2.173478,Barcelona,nou barris,torre barÃ³,second hand / to be restored,3,1,0,0,0,0,0,0,0
41334,101689050,home,59900,59,41.462040,2.173478,Barcelona,nou barris,vallbona,second hand / to be restored,3,1,0,0,0,0,0,0,0
41335,103311047,home,80700,55,41.464199,2.172284,Barcelona,nou barris,ciutat meridiana,second hand / in good condition,3,1,0,0,0,0,0,0,0
41336,103311047,home,80700,55,41.464199,2.172284,Barcelona,nou barris,torre barÃ³,second hand / in good condition,3,1,0,0,0,0,0,0,0
41337,103311047,home,80700,55,41.464199,2.172284,Barcelona,nou barris,vallbona,second hand / in good condition,3,1,0,0,0,0,0,0,0
41338,102533815,home,58300,55,41.458509,2.172737,Barcelona,nou barris,ciutat meridiana,second hand / in good condition,3,1,0,0,0,0,0,0,0
41339,102533815,home,58300,55,41.458509,2.172737,Barcelona,nou barris,torre barÃ³,second hand / in good condition,3,1,0,0,0,0,0,0,0
41340,102533815,home,58300,55,41.458509,2.172737,Barcelona,nou barris,vallbona,second hand / in good condition,3,1,0,0,0,0,0,0,0

### """"""""""""""""""""""""""""""""""""

In [946]:
final_csv.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/idealista_tableau.csv', index=False)