In [550]:
#Libraries:

import pandas as pd
import numpy as np
import pprint
import seaborn as sns
import matplotlib.pyplot as plt

import json

### Cleaning Main Dataset for training

In [551]:
df = pd.read_csv("../Data/dataset_idealista.csv")

In [552]:
df.head()

,ad_id,ad_state_Value,ad_operation_Value,ad_typology_Value,ad_price,ad_area,ad_activationdate,ad_deactivationdate,ad_latitude,ad_longitude,...,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,inactive ad,sale,home,315000,61.0,2023-11-03,2023-11-10,41.372047,2.164361,...,second hand / in good condition,2,1,1.0,NaN,1.0,NaN,NaN,1.0,NaN
1,102614560,inactive ad,sale,home,450000,166.0,2023-09-20,2023-11-10,41.379380,2.177694,...,second hand / to be restored,7,2,0.0,NaN,NaN,1.0,NaN,NaN,NaN
2,101675391,inactive ad,sale,home,179000,58.0,2023-06-08,2023-11-06,41.379963,2.163510,...,second hand / to be restored,3,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,102882142,inactive ad,sale,home,150000,30.0,2023-10-17,2023-11-09,41.388439,2.165341,...,second hand / in good condition,0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,102001566,inactive ad,sale,home,120000,62.0,2023-08-28,2023-11-07,41.371448,2.167549,...,second hand / to be restored,2,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [553]:
print(df.columns)

Index(['ad_id', 'ad_state_Value', 'ad_operation_Value', 'ad_typology_Value',
       'ad_price', 'ad_area', 'ad_activationdate', 'ad_deactivationdate',
       'ad_latitude', 'ad_longitude', 'ad_town', 'ad_district',
       'ad_neighbourhood', 'ad_builttype_Value', 'ad_roomnumber',
       'ad_bathnumber', 'ad_haslift', 'ad_hasswimmingpool', 'ad_hasheating',
       'ad_hasterrace', 'ad_hasparkingspace', 'ad_hasairconditioning',
       'ad_hasgarden'],
      dtype='object')

In [554]:
# I will start by removing unnecessary columns that are useless for both the training the model as well as the visualization

In [555]:
def drop_columns(dataframe, columns_to_drop):

    return dataframe.drop(columns=columns_to_drop, errors='ignore')

In [556]:
columns_to_drop = ['ad_state_Value','ad_operation_Value', 'ad_activationdate', 'ad_deactivationdate']
df = drop_columns(df, columns_to_drop)

In [557]:
# Now i will handle null values

In [558]:
columns_to_fill = ['ad_area','ad_haslift', 'ad_hasswimmingpool', 'ad_hasheating', 'ad_hasterrace', 'ad_hasparkingspace', 'ad_hasairconditioning', 'ad_hasgarden']
df[columns_to_fill] = df[columns_to_fill].fillna(0).astype(int)

In [559]:
columns_with_nulls = df.columns[df.isnull().any()]
null_counts = df[columns_with_nulls].isnull().sum().sort_values(ascending=False)

print("Columns with the most null values:")
print(null_counts)

Columns with the most null values:
Series([], dtype: float64)

In [560]:
df.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/clean_idealista.csv', index=False)

### cleaning main dataset for Tableau

In [561]:
df.head()

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,home,315000,61,41.372047,2.164361,Barcelona,Sants-Montjuïc,El Poble Sec - Parc de Montjuïc,second hand / in good condition,2,1,1,0,1,0,0,1,0
1,102614560,home,450000,166,41.379380,2.177694,Barcelona,Ciutat Vella,El Gòtic,second hand / to be restored,7,2,0,0,0,1,0,0,0
2,101675391,home,179000,58,41.379963,2.163510,Barcelona,Ciutat Vella,El Raval,second hand / to be restored,3,1,0,0,0,0,0,0,0
3,102882142,home,150000,30,41.388439,2.165341,Barcelona,Eixample,La Dreta de l'Eixample,second hand / in good condition,0,1,0,0,0,0,0,0,0
4,102001566,home,120000,62,41.371448,2.167549,Barcelona,Sants-Montjuïc,El Poble Sec - Parc de Montjuïc,second hand / to be restored,2,1,0,0,0,0,0,0,0

In [562]:
df['ad_district'].unique().sum()

'Sants-MontjuïcCiutat VellaEixampleSarrià-Sant GervasiNou BarrisHorta GuinardóSant MartíGràciaSant AndreuLes Corts'

In [563]:
df['ad_neighbourhood'].unique().sum()

"El Poble Sec - Parc de MontjuïcEl GòticEl RavalLa Dreta de l'EixampleSant Gervasi - GalvanyLa ProsperitatCan Peguera - El Turó de la PeiraLa Sagrada FamíliaSants - BadalEl Baix GuinardóEl CarmelLa GuineuetaPortaLa Verneda i la PauSant Martí de ProvençalsEl Camp d'En Grassot i Gràcia NovaVila de GràciaLa Nova Esquerra de l'EixampleEl Camp de l'Arpa del ClotBaró de ViverEl Congrés i els IndiansLa BarcelonetaEl GuinardóCan BaróLa Marina del PortSant Pere - Santa Caterina i la RiberaSant AndreuEl Fort PiencHostafrancsL'Antiga Esquerra de l'EixampleLes CortsLes RoquetesVilapicina i la Torre LlobetaEl ClotProvençals del PoblenouSant AntoniLa TeixoneraEl BesòsCiutat Meridiana - Torre Baró - VallbonaLa Vila Olímpica del PoblenouSantsEl PoblenouVallcarca i els PenitentsEl Bon PastorHortaNavasSant Gervasi - La BonanovaLa Trinitat VellaEl CollEl Parc i la Llacuna del PoblenouLa BordetaLa Vall d'Hebron - La ClotaLa Font de la GuatllaLa Maternitat i Sant RamonEl Putxet i el FarróLa SagreraDiagonal Mar i el Front Marítim del PoblenouCanyellesSarriàLa Marina del Prat VermellLa Font d'En FarguesVerdunSant Genís Dels Agudells - MontbauVallvidrera - El Tibidabo i les PlanesLa SalutLes Tres TorresLa Trinitat NovaZona Franca - PortPedralbes"

In [564]:
columns_to_lowercase = ['ad_neighbourhood', 'ad_district']

for column in columns_to_lowercase:
    if column in df.columns and df[column].dtype == 'O':
        df[column] = df[column].str.lower()

In [565]:
df['ad_district'].unique().sum()

'sants-montjuïcciutat vellaeixamplesarrià-sant gervasinou barrishorta guinardósant martígràciasant andreules corts'

In [566]:
df['ad_neighbourhood'].unique().sum()

"el poble sec - parc de montjuïcel gòticel ravalla dreta de l'eixamplesant gervasi - galvanyla prosperitatcan peguera - el turó de la peirala sagrada famíliasants - badalel baix guinardóel carmella guineuetaportala verneda i la pausant martí de provençalsel camp d'en grassot i gràcia novavila de gràciala nova esquerra de l'eixampleel camp de l'arpa del clotbaró de viverel congrés i els indiansla barcelonetael guinardócan baróla marina del portsant pere - santa caterina i la riberasant andreuel fort pienchostafrancsl'antiga esquerra de l'eixampleles cortsles roquetesvilapicina i la torre llobetael clotprovençals del poblenousant antonila teixonerael besòsciutat meridiana - torre baró - vallbonala vila olímpica del poblenousantsel poblenouvallcarca i els penitentsel bon pastorhortanavassant gervasi - la bonanovala trinitat vellael collel parc i la llacuna del poblenoula bordetala vall d'hebron - la clotala font de la guatllala maternitat i sant ramonel putxet i el farróla sagreradiagonal mar i el front marítim del poblenoucanyellessarriàla marina del prat vermellla font d'en farguesverdunsant genís dels agudells - montbauvallvidrera - el tibidabo i les planesla salutles tres torresla trinitat novazona franca - portpedralbes"

In [567]:
df.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/idealista_tableau.csv', index=False)

### Cleaning Geojson barris Dataset

In [568]:
# I first transform all the values in  the column into lower caps

In [569]:
import json

geojson_file_path = '../Data/barris.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

for feature in geojson_data['features']:
    feature['properties']['NOM'] = feature['properties']['NOM'].lower()

with open(geojson_file_path, 'w') as f:
    json.dump(geojson_data, f, indent=2)

print("GeoJSON file has been updated and saved.")

GeoJSON file has been updated and saved.

In [570]:
geojson_file_path = '../Data/barris.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

features = geojson_data['features']

In [571]:
df_barris = pd.json_normalize(features)

In [572]:
#3

In [573]:
import geopandas as gpd

geojson_file_path = '../Data/barris.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

gdf_geojson = gpd.GeoDataFrame.from_features(geojson_data['features'])

csv_file_path = '../Data/idealista_tableau.csv'  # Replace with the actual path
df_csv = pd.read_csv(csv_file_path)

In [574]:
# here i inspect what other string mismatch between my json file and main csv file from idealista

In [575]:
neighborhoods_geojson = set(gdf_geojson['NOM'])
neighborhoods_main = set(df_csv['ad_neighbourhood'])

mismatched_names = neighborhoods_main - neighborhoods_geojson

In [576]:
print(mismatched_names)

{'la marina del port', 'vila de gràcia', 'can peguera - el turó de la peira', 'el besòs', "la vall d'hebron - la clota", 'ciutat meridiana - torre baró - vallbona', 'sant genís dels agudells - montbau', 'el gòtic', 'vallvidrera - el tibidabo i les planes', 'zona franca - port', 'el poble sec - parc de montjuïc', 'sant pere - santa caterina i la ribera'}

In [577]:
# I proceed to change the name of many of the strings in the main csv file so they become the same as in the geojson file

In [578]:
name_mapping = {
    'ciutat meridiana - torre baró - vallbona': 'ciutat meridiana - torre baró - vallbona',
    'el gòtic': 'el barri gòtic',
    'el besòs': 'el besòs i el maresme',
    'el poble sec - parc de montjuïc': 'el poble-sec',
    'la marina del port': 'la marina de port',
    'vila de gràcia': 'la vila de gràcia',
    'sant pere - santa caterina i la ribera': 'sant pere,santa caterina i la ribera',
    'vallvidrera - el tibidabo i les planes': 'vallvidrera,el tibidabo i les planes',
    'can peguera - el turó de la peira': 'can peguera - el turó de la peira',
    "la vall d'hebron - la clota": "la vall d'hebron - la clota",
    'sant genís dels agudells - montbau': 'sant genís dels agudells - montbau',
}

In [579]:
df_csv['ad_neighbourhood'] = df_csv['ad_neighbourhood'].apply(lambda x: name_mapping.get(x, x))

In [580]:
df_csv.sample(7)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
26672,101140629,home,395000,149,41.405433,2.186806,Barcelona,sant martí,el clot,second hand / in good condition,5,2,1,0,0,1,0,0,0
4460,101326232,home,495000,120,41.400823,2.139630,Barcelona,sarrià-sant gervasi,sant gervasi - galvany,second hand / in good condition,4,2,1,0,1,0,0,1,0
18405,103031064,home,104000,35,41.380758,2.164259,Barcelona,ciutat vella,el raval,second hand / to be restored,1,1,0,0,0,0,0,1,0
19299,99992292,home,163890,70,41.384036,2.177316,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,3,1,1,0,0,0,0,0,0
34446,102593016,home,295000,88,41.422380,2.147062,Barcelona,horta guinardó,la teixonera,second hand / in good condition,2,2,1,0,0,1,0,1,0
39302,101560417,home,240000,79,41.429993,2.167683,Barcelona,nou barris,can peguera - el turó de la peira,second hand / in good condition,4,1,1,0,1,0,0,1,0
22339,101126952,home,264000,70,41.394645,2.180851,Barcelona,eixample,el fort pienc,second hand / in good condition,4,1,0,0,0,0,0,0,0

In [581]:
yes = df_csv[df_csv['ad_neighbourhood'] == 'sarrià-sant gervasi']

In [582]:
yes

Empty DataFrame
Columns: [ad_id, ad_typology_Value, ad_price, ad_area, ad_latitude, ad_longitude, ad_town, ad_district, ad_neighbourhood, ad_builttype_Value, ad_roomnumber, ad_bathnumber, ad_haslift, ad_hasswimmingpool, ad_hasheating, ad_hasterrace, ad_hasparkingspace, ad_hasairconditioning, ad_hasgarden]
Index: []

In [583]:
# in order to modifty the correct string i create substrings to work with

In [584]:
target_strings = ['can peguera - el turó de la peira', "la vall d'hebron - la clota", 'sant genís dels agudells - montbau']
subset_df = df_csv[df_csv['ad_neighbourhood'].isin(target_strings)]

In [585]:
subset_df = pd.DataFrame(subset_df)

In [586]:
print(type(subset_df))

<class 'pandas.core.frame.DataFrame'>

In [587]:
subset_df.shape

(654, 19)

In [588]:
# new = []
# for index, row in df_csv.iterrows():
#     celda = row["ad_neighbourhood"]
#     if "-" in celda:
#         elements = len(celda.split("-"))
#         if elements == 2:
#             row_1 = row
#             row_1["ad_neighbourhood"] = celda.split("-")[0].strip()
#             new.append(dict(row_1))

#             row_2 = row
#             row_2["ad_neighbourhood"] = celda.split("-")[1].strip()
#             new.append(dict(row_2))

#     else:
#         df.append(dict(row))
# df = pd.DataFrame(new)
# df

In [601]:
subset_df

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
7,102792287,home,161000,62,41.432560,2.168896,Barcelona,nou barris,el turó de la peira,second hand / in good condition,2,1,1,0,1,0,0,1,0
15,102823950,home,248000,87,41.431301,2.171388,Barcelona,nou barris,el turó de la peira,second hand / in good condition,3,1,1,0,1,0,0,0,0
70,101230451,home,118000,57,41.433243,2.169692,Barcelona,nou barris,can peguera,second hand / to be restored,3,1,1,0,0,0,0,0,0
99,102837432,home,115000,49,41.432400,2.166549,Barcelona,nou barris,el turó de la peira,second hand / to be restored,2,1,1,0,0,0,0,0,0
168,102685582,home,229000,72,41.432275,2.145356,Barcelona,horta guinardó,sant genís dels agudells,second hand / to be restored,3,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39608,102718996,home,199000,85,41.427369,2.141055,Barcelona,horta guinardó,NaN,second hand / in good condition,1,1,0,0,1,1,0,0,0
39609,92610419,home,295000,67,41.429549,2.132055,Barcelona,horta guinardó,NaN,second hand / in good condition,2,1,1,0,0,1,1,0,0
39655,101939747,home,139600,78,41.433295,2.165244,Barcelona,nou barris,NaN,second hand / in good condition,4,1,0,0,0,0,0,0,0
39656,102701924,home,137000,58,41.433074,2.168062,Barcelona,nou barris,NaN,second hand / to be restored,3,1,1,0,1,0,0,0,0
39657,103041001,home,110000,50,41.434744,2.168715,Barcelona,nou barris,NaN,second hand / in good condition,2,1,1,0,0,0,0,0,0

In [590]:
new = []
for index, row in subset_df.iterrows():
    celda = row["ad_neighbourhood"]
    if "-" in celda:
        elements = len(celda.split(" - "))
        if elements == 2:
            row_1 = row
            row_1["ad_neighbourhood"] = celda.split("-")[0].strip()
            new.append(row_1)

            row_2 = row
            row_2["ad_neighbourhood"] = celda.split("-")[1].strip()
            new.append(row_2)
        else:
            new.append(row)
    else:
        new.append(row)

df = pd.DataFrame(new)

In [591]:
df

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
7,102792287,home,161000,62,41.432560,2.168896,Barcelona,nou barris,el turó de la peira,second hand / in good condition,2,1,1,0,1,0,0,1,0
7,102792287,home,161000,62,41.432560,2.168896,Barcelona,nou barris,el turó de la peira,second hand / in good condition,2,1,1,0,1,0,0,1,0
15,102823950,home,248000,87,41.431301,2.171388,Barcelona,nou barris,el turó de la peira,second hand / in good condition,3,1,1,0,1,0,0,0,0
15,102823950,home,248000,87,41.431301,2.171388,Barcelona,nou barris,el turó de la peira,second hand / in good condition,3,1,1,0,1,0,0,0,0
70,101230451,home,118000,57,41.433243,2.169692,Barcelona,nou barris,el turó de la peira,second hand / to be restored,3,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39655,101939747,home,139600,78,41.433295,2.165244,Barcelona,nou barris,el turó de la peira,second hand / in good condition,4,1,0,0,0,0,0,0,0
39656,102701924,home,137000,58,41.433074,2.168062,Barcelona,nou barris,el turó de la peira,second hand / to be restored,3,1,1,0,1,0,0,0,0
39656,102701924,home,137000,58,41.433074,2.168062,Barcelona,nou barris,el turó de la peira,second hand / to be restored,3,1,1,0,1,0,0,0,0
39657,103041001,home,110000,50,41.434744,2.168715,Barcelona,nou barris,el turó de la peira,second hand / in good condition,2,1,1,0,0,0,0,0,0
39657,103041001,home,110000,50,41.434744,2.168715,Barcelona,nou barris,el turó de la peira,second hand / in good condition,2,1,1,0,0,0,0,0,0

In [592]:
two=[]
for i in subset_df.ad_neighbourhood:
        two.append(i.split(" - ")[0])
        two.append(i.split(" - ")[1])

In [593]:
two

['can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 "la vall d'hebron",
 'la clota',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 "la vall d'hebron",
 'la clota',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'sant genís dels agudells',
 'montbau',
 'sant genís dels agudells',
 'montbau',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 'can peguera',
 'el turó de la peira',
 ...]

In [594]:
subset_df = subset_df.copy()  # Create a copy of the subset

subset_df['ad_neighbourhood'] = subset_df['ad_neighbourhood'].str.split('-', expand=True).stack().reset_index(level=1, drop=True, name='ad_neighbourhood').reset_index(drop=True)

In [595]:
subset_df.sample(7)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
37274,102842169,home,59700,31,41.434485,2.171146,Barcelona,nou barris,NaN,second hand / in good condition,2,1,0,0,0,0,0,0,0
14288,100267558,home,322000,105,41.433637,2.166611,Barcelona,nou barris,NaN,second hand / in good condition,3,1,1,0,0,1,0,1,0
22039,101832131,home,120000,78,41.433727,2.173201,Barcelona,nou barris,NaN,second hand / in good condition,1,1,0,0,1,0,0,1,0
38439,101199703,home,255000,87,41.434059,2.169449,Barcelona,nou barris,NaN,second hand / in good condition,2,1,1,0,1,0,0,0,0
22468,102902348,home,63100,34,41.431659,2.168619,Barcelona,nou barris,NaN,second hand / in good condition,2,1,0,0,0,1,0,0,0
11920,100551978,home,260000,85,41.429463,2.168940,Barcelona,nou barris,NaN,second hand / in good condition,4,1,1,0,0,0,0,0,0
15127,102224943,home,205000,65,41.429003,2.169160,Barcelona,nou barris,NaN,second hand / in good condition,2,1,1,0,1,0,0,1,0

In [596]:
el_barri_gotic_rows = df_csv[df_csv['ad_neighbourhood'] == 'ciutat meridiana - torre baró - vallbona']

In [597]:
el_barri_gotic_rows

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
67,98669018,home,107000,65,41.459737,2.176431,Barcelona,nou barris,ciutat meridiana - torre baró - vallbona,second hand / in good condition,3,1,1,0,0,0,0,0,0
104,102860061,home,97000,60,41.461201,2.172637,Barcelona,nou barris,ciutat meridiana - torre baró - vallbona,second hand / in good condition,2,1,0,0,1,0,0,1,1
127,102518138,home,125000,65,41.462785,2.178396,Barcelona,nou barris,ciutat meridiana - torre baró - vallbona,second hand / to be restored,3,1,1,0,1,0,0,1,0
144,101815403,home,55000,65,41.462758,2.175632,Barcelona,nou barris,ciutat meridiana - torre baró - vallbona,second hand / in good condition,3,1,0,0,0,0,0,1,0
145,101842855,home,108500,63,41.460527,2.172665,Barcelona,nou barris,ciutat meridiana - torre baró - vallbona,second hand / in good condition,3,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39632,103178230,home,103000,63,41.463105,2.172964,Barcelona,nou barris,ciutat meridiana - torre baró - vallbona,second hand / in good condition,3,1,0,0,0,0,0,0,0
39633,92520500,home,135500,84,41.456077,2.182290,Barcelona,nou barris,ciutat meridiana - torre baró - vallbona,second hand / in good condition,3,1,1,0,0,0,0,0,0
39634,101689050,home,59900,59,41.462040,2.173478,Barcelona,nou barris,ciutat meridiana - torre baró - vallbona,second hand / to be restored,3,1,0,0,0,0,0,0,0
39635,103311047,home,80700,55,41.464199,2.172284,Barcelona,nou barris,ciutat meridiana - torre baró - vallbona,second hand / in good condition,3,1,0,0,0,0,0,0,0
39636,102533815,home,58300,55,41.458509,2.172737,Barcelona,nou barris,ciutat meridiana - torre baró - vallbona,second hand / in good condition,3,1,0,0,0,0,0,0,0

In [598]:
# df_csv = df_csv[~df_csv['ad_neighbourhood'].str.contains('ciutat meridiana - torre baró - vallbona')]

""""""""""""""""""""""""""""""""""""

In [599]:
# df_csv["new"] = df["ad_neighbourhood"].apply(lambda x: x.split("-")[0].strip())

In [600]:
df_csv["new"].unique()

KeyError: 'new'

In [ ]:
df_csv.sample(10)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
27031,100627977,home,235000,80,41.417096,2.178747,Barcelona,horta guinardó,el guinardó,second hand / in good condition,3,1,0,0,1,1,0,1,0
14576,101959173,home,134000,50,41.421131,2.143922,Barcelona,horta guinardó,la teixonera,second hand / in good condition,2,1,0,0,0,0,0,0,0
18122,102224158,home,255000,74,41.422475,2.183856,Barcelona,sant andreu,navas,second hand / in good condition,2,1,0,0,1,1,1,1,1
23368,100371770,home,170000,49,41.422897,2.175028,Barcelona,horta guinardó,el guinardó,second hand / in good condition,2,1,1,0,0,0,0,0,0
26005,103140587,home,255000,70,41.421372,2.201929,Barcelona,sant martí,la verneda i la pau,second hand / in good condition,3,1,1,0,0,0,0,0,0
32040,102264556,home,120000,45,41.359883,2.140049,Barcelona,sants-montjuïc,la marina de port,second hand / in good condition,1,1,0,0,0,0,0,0,0
21751,102922388,home,2200000,273,41.390815,2.163450,Barcelona,eixample,la dreta de l'eixample,second hand / to be restored,4,3,1,0,1,1,1,1,0
29786,100537142,home,195000,74,41.422965,2.182971,Barcelona,sant andreu,el congrés i els indians,second hand / in good condition,2,1,0,0,0,0,0,0,0
27514,99936948,home,94000,84,41.377456,2.131390,Barcelona,sants-montjuïc,sants,second hand / to be restored,3,1,0,0,0,0,0,0,0
20060,100291118,home,195000,90,41.358286,2.141689,Barcelona,sants-montjuïc,la marina de port,second hand / to be restored,3,1,1,0,0,0,0,1,0

In [ ]:
el_barri_gotic_rows = df_csv[df_csv['ad_neighbourhood'] == 'el barri gòtic']

In [ ]:
el_barri_gotic_rows

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
1,102614560,home,450000,166,41.379380,2.177694,Barcelona,ciutat vella,el barri gòtic,second hand / to be restored,7,2,0,0,0,1,0,0,0
87,101941539,home,319000,93,41.380233,2.177253,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,2,1,0,0,0,0,0,0,0
152,102922528,home,250000,50,41.380152,2.181231,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,1,1,1,0,1,0,0,1,0
318,103112471,home,495000,130,41.382114,2.177683,Barcelona,ciutat vella,el barri gòtic,second hand / to be restored,4,1,1,0,0,0,0,0,0
455,100219514,home,800,65,41.380584,2.177735,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,2,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39270,102001562,home,299000,69,41.379634,2.178387,Barcelona,ciutat vella,el barri gòtic,second hand / to be restored,3,1,0,0,1,0,0,0,0
39271,101697237,home,615000,138,41.383821,2.175874,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,5,2,1,0,0,0,0,1,0
39457,102608627,home,380000,80,41.384597,2.173832,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,2,2,1,0,0,0,0,1,0
39458,82985725,home,275000,47,41.382439,2.171556,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,1,1,1,0,0,0,0,1,0
39459,103211885,home,325000,77,41.378103,2.180334,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,1,1,1,0,1,0,0,1,0

In [ ]:
df_improved = df_csv

In [ ]:
columns_to_drop = ['ad_town']
df_improved = drop_columns(df_improved, columns_to_drop)

In [ ]:
df_csv['ad_neighbourhood'] = df_csv['ad_neighbourhood'].str.strip()
# gdf_geojson['neighborhood_name'] = gdf_geojson['neighborhood_name'].str.strip()

In [ ]:
df_improved.sample(13)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
14742,101523863,home,289000,60,41.375644,2.168255,ciutat vella,el raval,second hand / in good condition,2,1,0,0,0,0,0,0,0
27505,103046718,home,1119000,198,41.396975,2.181522,eixample,el fort pienc,second hand / in good condition,4,3,1,0,1,1,0,1,0
30236,100412284,home,385000,65,41.392596,2.169133,eixample,la dreta de l'eixample,second hand / in good condition,2,1,1,0,1,0,0,0,0
9525,101936941,home,980000,161,41.402852,2.178630,eixample,el fort pienc,second hand / in good condition,4,3,1,1,0,0,1,1,1
24578,102528008,home,190000,100,41.421115,2.209974,sant martí,la verneda i la pau,second hand / in good condition,3,1,1,0,1,0,0,1,0
9422,101949533,home,309000,91,41.427006,2.182904,sant andreu,el congrés i els indians,second hand / in good condition,3,1,1,0,1,1,0,0,0
16165,103178330,home,550000,73,41.403519,2.211017,sant martí,diagonal mar i el front marítim del poblenou,second hand / in good condition,2,1,1,0,1,1,1,1,0
1065,102824609,home,285000,85,41.427107,2.182930,sant andreu,el congrés i els indians,second hand / in good condition,4,1,1,0,1,0,0,1,0
39424,102093192,home,205000,69,41.373354,2.129964,sants-montjuïc,sants - badal,second hand / in good condition,3,1,1,0,0,0,0,0,0
20144,101007208,home,160000,69,41.442106,2.187308,sant andreu,sant andreu,second hand / in good condition,3,1,1,0,0,0,0,0,0
9857,97262871,home,499000,67,41.405647,2.173898,eixample,la sagrada família,second hand / in good condition,3,1,0,0,0,1,0,1,0
24736,101612464,home,222000,77,41.427428,2.187115,sant andreu,la sagrera,second hand / in good condition,3,1,0,0,0,1,0,0,0
21075,98680063,home,290000,88,41.401262,2.175292,eixample,la sagrada família,second hand / to be restored,3,1,0,0,1,0,0,0,0

In [ ]:
df_improved.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/idealista_tableau.csv', index=False)