In [2]:
#Libraries:

import pandas as pd
import numpy as np
import pprint
import seaborn as sns
import matplotlib.pyplot as plt

import json

### Cleaning Main Dataset for training

In [3]:
df = pd.read_csv("../Data/dataset_idealista.csv")

In [4]:
df.head()

,ad_id,ad_state_Value,ad_operation_Value,ad_typology_Value,ad_price,ad_area,ad_activationdate,ad_deactivationdate,ad_latitude,ad_longitude,...,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,inactive ad,sale,home,315000,61.0,2023-11-03,2023-11-10,41.372047,2.164361,...,second hand / in good condition,2,1,1.0,NaN,1.0,NaN,NaN,1.0,NaN
1,102614560,inactive ad,sale,home,450000,166.0,2023-09-20,2023-11-10,41.379380,2.177694,...,second hand / to be restored,7,2,0.0,NaN,NaN,1.0,NaN,NaN,NaN
2,101675391,inactive ad,sale,home,179000,58.0,2023-06-08,2023-11-06,41.379963,2.163510,...,second hand / to be restored,3,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,102882142,inactive ad,sale,home,150000,30.0,2023-10-17,2023-11-09,41.388439,2.165341,...,second hand / in good condition,0,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,102001566,inactive ad,sale,home,120000,62.0,2023-08-28,2023-11-07,41.371448,2.167549,...,second hand / to be restored,2,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(df.columns)

Index(['ad_id', 'ad_state_Value', 'ad_operation_Value', 'ad_typology_Value',
       'ad_price', 'ad_area', 'ad_activationdate', 'ad_deactivationdate',
       'ad_latitude', 'ad_longitude', 'ad_town', 'ad_district',
       'ad_neighbourhood', 'ad_builttype_Value', 'ad_roomnumber',
       'ad_bathnumber', 'ad_haslift', 'ad_hasswimmingpool', 'ad_hasheating',
       'ad_hasterrace', 'ad_hasparkingspace', 'ad_hasairconditioning',
       'ad_hasgarden'],
      dtype='object')

In [6]:
# I will start by removing unnecessary columns that are useless for both the training the model as well as the visualization

In [7]:
def drop_columns(dataframe, columns_to_drop):

    return dataframe.drop(columns=columns_to_drop, errors='ignore')

In [8]:
columns_to_drop = ['ad_state_Value','ad_operation_Value', 'ad_activationdate', 'ad_deactivationdate']
df = drop_columns(df, columns_to_drop)

In [9]:
# Now i will handle null values

In [10]:
columns_to_fill = ['ad_area','ad_haslift', 'ad_hasswimmingpool', 'ad_hasheating', 'ad_hasterrace', 'ad_hasparkingspace', 'ad_hasairconditioning', 'ad_hasgarden']
df[columns_to_fill] = df[columns_to_fill].fillna(0).astype(int)

In [11]:
columns_with_nulls = df.columns[df.isnull().any()]
null_counts = df[columns_with_nulls].isnull().sum().sort_values(ascending=False)

print("Columns with the most null values:")
print(null_counts)

Columns with the most null values:
Series([], dtype: float64)

In [12]:
df.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/clean_idealista.csv', index=False)

### cleaning main dataset for Tableau

In [13]:
df.head()

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,home,315000,61,41.372047,2.164361,Barcelona,Sants-Montjuïc,El Poble Sec - Parc de Montjuïc,second hand / in good condition,2,1,1,0,1,0,0,1,0
1,102614560,home,450000,166,41.379380,2.177694,Barcelona,Ciutat Vella,El Gòtic,second hand / to be restored,7,2,0,0,0,1,0,0,0
2,101675391,home,179000,58,41.379963,2.163510,Barcelona,Ciutat Vella,El Raval,second hand / to be restored,3,1,0,0,0,0,0,0,0
3,102882142,home,150000,30,41.388439,2.165341,Barcelona,Eixample,La Dreta de l'Eixample,second hand / in good condition,0,1,0,0,0,0,0,0,0
4,102001566,home,120000,62,41.371448,2.167549,Barcelona,Sants-Montjuïc,El Poble Sec - Parc de Montjuïc,second hand / to be restored,2,1,0,0,0,0,0,0,0

In [14]:
df['ad_district'].unique().sum()

'Sants-MontjuïcCiutat VellaEixampleSarrià-Sant GervasiNou BarrisHorta GuinardóSant MartíGràciaSant AndreuLes Corts'

In [15]:
df['ad_neighbourhood'].unique().sum()

"El Poble Sec - Parc de MontjuïcEl GòticEl RavalLa Dreta de l'EixampleSant Gervasi - GalvanyLa ProsperitatCan Peguera - El Turó de la PeiraLa Sagrada FamíliaSants - BadalEl Baix GuinardóEl CarmelLa GuineuetaPortaLa Verneda i la PauSant Martí de ProvençalsEl Camp d'En Grassot i Gràcia NovaVila de GràciaLa Nova Esquerra de l'EixampleEl Camp de l'Arpa del ClotBaró de ViverEl Congrés i els IndiansLa BarcelonetaEl GuinardóCan BaróLa Marina del PortSant Pere - Santa Caterina i la RiberaSant AndreuEl Fort PiencHostafrancsL'Antiga Esquerra de l'EixampleLes CortsLes RoquetesVilapicina i la Torre LlobetaEl ClotProvençals del PoblenouSant AntoniLa TeixoneraEl BesòsCiutat Meridiana - Torre Baró - VallbonaLa Vila Olímpica del PoblenouSantsEl PoblenouVallcarca i els PenitentsEl Bon PastorHortaNavasSant Gervasi - La BonanovaLa Trinitat VellaEl CollEl Parc i la Llacuna del PoblenouLa BordetaLa Vall d'Hebron - La ClotaLa Font de la GuatllaLa Maternitat i Sant RamonEl Putxet i el FarróLa SagreraDiagonal Mar i el Front Marítim del PoblenouCanyellesSarriàLa Marina del Prat VermellLa Font d'En FarguesVerdunSant Genís Dels Agudells - MontbauVallvidrera - El Tibidabo i les PlanesLa SalutLes Tres TorresLa Trinitat NovaZona Franca - PortPedralbes"

In [16]:
columns_to_lowercase = ['ad_neighbourhood', 'ad_district']

for column in columns_to_lowercase:
    if column in df.columns and df[column].dtype == 'O':
        df[column] = df[column].str.lower()

In [17]:
df['ad_district'].unique().sum()

'sants-montjuïcciutat vellaeixamplesarrià-sant gervasinou barrishorta guinardósant martígràciasant andreules corts'

In [18]:
df['ad_neighbourhood'].unique().sum()

"el poble sec - parc de montjuïcel gòticel ravalla dreta de l'eixamplesant gervasi - galvanyla prosperitatcan peguera - el turó de la peirala sagrada famíliasants - badalel baix guinardóel carmella guineuetaportala verneda i la pausant martí de provençalsel camp d'en grassot i gràcia novavila de gràciala nova esquerra de l'eixampleel camp de l'arpa del clotbaró de viverel congrés i els indiansla barcelonetael guinardócan baróla marina del portsant pere - santa caterina i la riberasant andreuel fort pienchostafrancsl'antiga esquerra de l'eixampleles cortsles roquetesvilapicina i la torre llobetael clotprovençals del poblenousant antonila teixonerael besòsciutat meridiana - torre baró - vallbonala vila olímpica del poblenousantsel poblenouvallcarca i els penitentsel bon pastorhortanavassant gervasi - la bonanovala trinitat vellael collel parc i la llacuna del poblenoula bordetala vall d'hebron - la clotala font de la guatllala maternitat i sant ramonel putxet i el farróla sagreradiagonal mar i el front marítim del poblenoucanyellessarriàla marina del prat vermellla font d'en farguesverdunsant genís dels agudells - montbauvallvidrera - el tibidabo i les planesla salutles tres torresla trinitat novazona franca - portpedralbes"

In [19]:
df.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/idealista_tableau.csv', index=False)

### Cleaning Geojson barris Dataset

In [20]:
# I first transform all the values in  the column into lower caps

In [21]:
import json

geojson_file_path = '../Data/barris.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

for feature in geojson_data['features']:
    feature['properties']['NOM'] = feature['properties']['NOM'].lower()

with open(geojson_file_path, 'w') as f:
    json.dump(geojson_data, f, indent=2)

print("GeoJSON file has been updated and saved.")

GeoJSON file has been updated and saved.

In [22]:
geojson_file_path = '../Data/barris.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

features = geojson_data['features']

In [23]:
df_barris = pd.json_normalize(features)

In [24]:
#3

In [25]:
import geopandas as gpd

geojson_file_path = '../Data/barris.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

gdf_geojson = gpd.GeoDataFrame.from_features(geojson_data['features'])

csv_file_path = '../Data/idealista_tableau.csv'
df_csv = pd.read_csv(csv_file_path)

In [26]:
# here i inspect what other string mismatch between my json file and main csv file from idealista

In [27]:
neighborhoods_geojson = set(gdf_geojson['NOM'])
neighborhoods_main = set(df_csv['ad_neighbourhood'])

mismatched_names = neighborhoods_main - neighborhoods_geojson

In [28]:
print(mismatched_names)

{'el gòtic', 'vila de gràcia', 'el poble sec - parc de montjuïc', 'sant genís dels agudells - montbau', 'la marina del port', 'vallvidrera - el tibidabo i les planes', 'ciutat meridiana - torre baró - vallbona', 'zona franca - port', 'el besòs', 'sant pere - santa caterina i la ribera', "la vall d'hebron - la clota", 'can peguera - el turó de la peira'}

In [29]:
# I proceed to change the name of many of the strings in the main csv file so they become the same as in the geojson file

In [30]:
name_mapping = {
    'ciutat meridiana - torre baró - vallbona': 'ciutat meridiana - torre baró - vallbona',
    'el gòtic': 'el barri gòtic',
    'el besòs': 'el besòs i el maresme',
    'el poble sec - parc de montjuïc': 'el poble-sec',
    'la marina del port': 'la marina de port',
    'vila de gràcia': 'la vila de gràcia',
    'sant pere - santa caterina i la ribera': 'sant pere,santa caterina i la ribera',
    'vallvidrera - el tibidabo i les planes': 'vallvidrera,el tibidabo i les planes',
    'can peguera - el turó de la peira': 'can peguera - el turó de la peira',
    "la vall d'hebron - la clota": "la vall d'hebron - la clota",
    'sant genís dels agudells - montbau': 'sant genís dels agudells - montbau',
}

In [31]:
df_csv['ad_neighbourhood'] = df_csv['ad_neighbourhood'].apply(lambda x: name_mapping.get(x, x))

In [32]:
df_csv.sample(7)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
36634,100761787,home,695000,167,41.391510,2.139080,Barcelona,les corts,les corts,second hand / in good condition,4,2,1,0,0,0,0,1,0
30364,100548358,home,224000,72,41.423858,2.175603,Barcelona,horta guinardó,el guinardó,second hand / in good condition,3,1,1,0,0,0,0,0,0
19233,100077568,home,1020000,139,41.391461,2.165124,Barcelona,eixample,la dreta de l'eixample,second hand / in good condition,3,2,1,0,1,0,0,0,0
28838,100160967,home,500000,105,41.386877,2.149576,Barcelona,eixample,la nova esquerra de l'eixample,second hand / in good condition,3,3,1,0,0,0,0,1,0
22478,101273946,home,359000,90,41.429503,2.170718,Barcelona,nou barris,vilapicina i la torre llobeta,second hand / in good condition,3,2,1,0,1,1,0,0,0
5754,101596018,home,135000,41,41.380545,2.162929,Barcelona,ciutat vella,el raval,second hand / to be restored,1,1,0,0,0,0,0,0,0
21033,102919191,home,235781,88,41.354393,2.138336,Barcelona,sants-montjuïc,la marina del prat vermell,new development,3,2,1,0,0,1,1,0,0

In [33]:
yes = df_csv[df_csv['ad_neighbourhood'] == 'sarrià-sant gervasi']

In [34]:
yes

Empty DataFrame
Columns: [ad_id, ad_typology_Value, ad_price, ad_area, ad_latitude, ad_longitude, ad_town, ad_district, ad_neighbourhood, ad_builttype_Value, ad_roomnumber, ad_bathnumber, ad_haslift, ad_hasswimmingpool, ad_hasheating, ad_hasterrace, ad_hasparkingspace, ad_hasairconditioning, ad_hasgarden]
Index: []

In [35]:
# in order to modifty the correct string i create substrings to work with

In [36]:
target_strings = ['can peguera - el turó de la peira', "la vall d'hebron - la clota", 'sant genís dels agudells - montbau']
subset_df = df_csv[df_csv['ad_neighbourhood'].isin(target_strings)]

In [37]:
subset_df = pd.DataFrame(subset_df)

In [38]:
print(type(subset_df))

<class 'pandas.core.frame.DataFrame'>

In [39]:
subset_df.shape

(654, 19)

In [40]:
# new = []
# for index, row in df_csv.iterrows():
#     celda = row["ad_neighbourhood"]
#     if "-" in celda:
#         elements = len(celda.split("-"))
#         if elements == 2:
#             row_1 = row
#             row_1["ad_neighbourhood"] = celda.split("-")[0].strip()
#             new.append(dict(row_1))

#             row_2 = row
#             row_2["ad_neighbourhood"] = celda.split("-")[1].strip()
#             new.append(dict(row_2))

#     else:
#         df.append(dict(row))
# df = pd.DataFrame(new)
df

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,home,315000,61,41.372047,2.164361,Barcelona,sants-montjuïc,el poble sec - parc de montjuïc,second hand / in good condition,2,1,1,0,1,0,0,1,0
1,102614560,home,450000,166,41.379380,2.177694,Barcelona,ciutat vella,el gòtic,second hand / to be restored,7,2,0,0,0,1,0,0,0
2,101675391,home,179000,58,41.379963,2.163510,Barcelona,ciutat vella,el raval,second hand / to be restored,3,1,0,0,0,0,0,0,0
3,102882142,home,150000,30,41.388439,2.165341,Barcelona,eixample,la dreta de l'eixample,second hand / in good condition,0,1,0,0,0,0,0,0,0
4,102001566,home,120000,62,41.371448,2.167549,Barcelona,sants-montjuïc,el poble sec - parc de montjuïc,second hand / to be restored,2,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39706,101983131,home,269000,90,41.413471,2.196160,Barcelona,sant martí,sant martí de provençals,second hand / in good condition,4,1,1,0,0,0,0,0,0
39707,103088115,home,340000,106,41.418478,2.198262,Barcelona,sant martí,sant martí de provençals,second hand / in good condition,4,2,1,0,0,0,0,0,0
39708,103056889,chalet,1600000,237,41.390064,2.107260,Barcelona,les corts,pedralbes,second hand / in good condition,4,3,0,1,0,1,1,0,1
39709,96693574,chalet,5500000,981,41.393787,2.108175,Barcelona,les corts,pedralbes,second hand / in good condition,10,8,0,1,1,1,1,0,1
39710,103277036,chalet,720000,167,41.404036,2.160615,Barcelona,gràcia,vila de gràcia,second hand / in good condition,4,2,0,0,1,1,1,1,0

In [41]:
subset_df

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
7,102792287,home,161000,62,41.432560,2.168896,Barcelona,nou barris,can peguera - el turó de la peira,second hand / in good condition,2,1,1,0,1,0,0,1,0
15,102823950,home,248000,87,41.431301,2.171388,Barcelona,nou barris,can peguera - el turó de la peira,second hand / in good condition,3,1,1,0,1,0,0,0,0
70,101230451,home,118000,57,41.433243,2.169692,Barcelona,nou barris,can peguera - el turó de la peira,second hand / to be restored,3,1,1,0,0,0,0,0,0
99,102837432,home,115000,49,41.432400,2.166549,Barcelona,nou barris,can peguera - el turó de la peira,second hand / to be restored,2,1,1,0,0,0,0,0,0
168,102685582,home,229000,72,41.432275,2.145356,Barcelona,horta guinardó,la vall d'hebron - la clota,second hand / to be restored,3,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39608,102718996,home,199000,85,41.427369,2.141055,Barcelona,horta guinardó,sant genís dels agudells - montbau,second hand / in good condition,1,1,0,0,1,1,0,0,0
39609,92610419,home,295000,67,41.429549,2.132055,Barcelona,horta guinardó,sant genís dels agudells - montbau,second hand / in good condition,2,1,1,0,0,1,1,0,0
39655,101939747,home,139600,78,41.433295,2.165244,Barcelona,nou barris,can peguera - el turó de la peira,second hand / in good condition,4,1,0,0,0,0,0,0,0
39656,102701924,home,137000,58,41.433074,2.168062,Barcelona,nou barris,can peguera - el turó de la peira,second hand / to be restored,3,1,1,0,1,0,0,0,0
39657,103041001,home,110000,50,41.434744,2.168715,Barcelona,nou barris,can peguera - el turó de la peira,second hand / in good condition,2,1,1,0,0,0,0,0,0

In [42]:
# new = []
# for index, row in subset_df.iterrows():
#     celda = row["ad_neighbourhood"]
#     if "-" in celda:
#         elements = len(celda.split(" - "))
#         if elements == 2:
#             row_1 = row
#             row_1["ad_neighbourhood"] = celda.split("-")[0].strip()
#             new.append(row_1)

#             row_2 = row
#             row_2["ad_neighbourhood"] = celda.split("-")[1].strip()
#             new.append(row_2)
#         else:
#             new.append(row)
#     else:
#         new.append(row)

# df = pd.DataFrame(new)


new = []
for index, row in subset_df.iterrows():
    celda = row["ad_neighbourhood"]
    if "-" in celda:
        elements = len(celda.split("-"))
        if elements == 2:
            row_1 = row
            row_1["ad_neighbourhood"] = celda.split("-")[0].strip()
            new.append(dict(row_1))

            row_2 = row
            row_2["ad_neighbourhood"] = celda.split("-")[1].strip()
            new.append(dict(row_2))

    else:
        df.append(dict(row))
df = pd.DataFrame(new)

In [43]:
df.shape

(1308, 19)

In [44]:
df.head(10)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102792287,home,161000,62,41.432560,2.168896,Barcelona,nou barris,can peguera,second hand / in good condition,2,1,1,0,1,0,0,1,0
1,102792287,home,161000,62,41.432560,2.168896,Barcelona,nou barris,el turó de la peira,second hand / in good condition,2,1,1,0,1,0,0,1,0
2,102823950,home,248000,87,41.431301,2.171388,Barcelona,nou barris,can peguera,second hand / in good condition,3,1,1,0,1,0,0,0,0
3,102823950,home,248000,87,41.431301,2.171388,Barcelona,nou barris,el turó de la peira,second hand / in good condition,3,1,1,0,1,0,0,0,0
4,101230451,home,118000,57,41.433243,2.169692,Barcelona,nou barris,can peguera,second hand / to be restored,3,1,1,0,0,0,0,0,0
5,101230451,home,118000,57,41.433243,2.169692,Barcelona,nou barris,el turó de la peira,second hand / to be restored,3,1,1,0,0,0,0,0,0
6,102837432,home,115000,49,41.432400,2.166549,Barcelona,nou barris,can peguera,second hand / to be restored,2,1,1,0,0,0,0,0,0
7,102837432,home,115000,49,41.432400,2.166549,Barcelona,nou barris,el turó de la peira,second hand / to be restored,2,1,1,0,0,0,0,0,0
8,102685582,home,229000,72,41.432275,2.145356,Barcelona,horta guinardó,la vall d'hebron,second hand / to be restored,3,1,1,0,0,0,0,1,0
9,102685582,home,229000,72,41.432275,2.145356,Barcelona,horta guinardó,la clota,second hand / to be restored,3,1,1,0,0,0,0,1,0

In [45]:
df_csv.shape

(39711, 19)

In [46]:
df_csv = df_csv[~df_csv['ad_neighbourhood'].str.contains('can peguera - el turó de la peira')]

In [47]:
df_csv = df_csv[~df_csv['ad_neighbourhood'].str.contains("la vall d'hebron - la clota")]

In [48]:
df_csv = df_csv[~df_csv['ad_neighbourhood'].str.contains('sant genís dels agudells - montbau')]

In [49]:
df_csv.shape

(39057, 19)

In [50]:
semi_df = pd.concat([df_csv, df], ignore_index=True)

In [51]:
semi_df

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,home,315000,61,41.372047,2.164361,Barcelona,sants-montjuïc,el poble-sec,second hand / in good condition,2,1,1,0,1,0,0,1,0
1,102614560,home,450000,166,41.379380,2.177694,Barcelona,ciutat vella,el barri gòtic,second hand / to be restored,7,2,0,0,0,1,0,0,0
2,101675391,home,179000,58,41.379963,2.163510,Barcelona,ciutat vella,el raval,second hand / to be restored,3,1,0,0,0,0,0,0,0
3,102882142,home,150000,30,41.388439,2.165341,Barcelona,eixample,la dreta de l'eixample,second hand / in good condition,0,1,0,0,0,0,0,0,0
4,102001566,home,120000,62,41.371448,2.167549,Barcelona,sants-montjuïc,el poble-sec,second hand / to be restored,2,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40360,101939747,home,139600,78,41.433295,2.165244,Barcelona,nou barris,el turó de la peira,second hand / in good condition,4,1,0,0,0,0,0,0,0
40361,102701924,home,137000,58,41.433074,2.168062,Barcelona,nou barris,can peguera,second hand / to be restored,3,1,1,0,1,0,0,0,0
40362,102701924,home,137000,58,41.433074,2.168062,Barcelona,nou barris,el turó de la peira,second hand / to be restored,3,1,1,0,1,0,0,0,0
40363,103041001,home,110000,50,41.434744,2.168715,Barcelona,nou barris,can peguera,second hand / in good condition,2,1,1,0,0,0,0,0,0
40364,103041001,home,110000,50,41.434744,2.168715,Barcelona,nou barris,el turó de la peira,second hand / in good condition,2,1,1,0,0,0,0,0,0

In [52]:
target_strings_2 = ['ciutat meridiana - torre baró - vallbona']
subset_df_2 = df_csv[df_csv['ad_neighbourhood'].isin(target_strings_2)]

In [53]:
subset_df_2.shape

(488, 19)

In [54]:
# new = []
# for index, row in subset_df_2.iterrows():
#     celda = row["ad_neighbourhood"]
#     if "-" in celda:
#         elements = len(celda.split(" - "))
#         if elements == 3:
#             row_1 = row
#             row_1["ad_neighbourhood"] = celda.split("-")[0].strip()
#             new.append(row_1)

#             row_3 = row
#             row_3["ad_neighbourhood"] = celda.split("-")[1].strip()
#             new.append(row_2)

#             row_3 = row
#             row_3["ad_neighbourhood"] = celda.split("-")[2].strip()
#             new.append(row_3)
#         else:
#             new.append(row)
#     else:
#         new.append(row)

# df_2 = pd.DataFrame(new)

new = []
for index, row in subset_df_2.iterrows():
    celda = row["ad_neighbourhood"]
    if "-" in celda:
        elements = len(celda.split("-"))
        if elements == 3:
            row_1 = row
            row_1["ad_neighbourhood"] = celda.split("-")[0].strip()
            new.append(dict(row_1))

            row_2 = row
            row_2["ad_neighbourhood"] = celda.split("-")[1].strip()
            new.append(dict(row_2))

            row_3 = row
            row_3["ad_neighbourhood"] = celda.split("-")[2].strip()
            new.append(dict(row_3))

    else:
        df.append(dict(row))
df_2 = pd.DataFrame(new)

In [55]:
df_2.head(5)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,98669018,home,107000,65,41.459737,2.176431,Barcelona,nou barris,ciutat meridiana,second hand / in good condition,3,1,1,0,0,0,0,0,0
1,98669018,home,107000,65,41.459737,2.176431,Barcelona,nou barris,torre baró,second hand / in good condition,3,1,1,0,0,0,0,0,0
2,98669018,home,107000,65,41.459737,2.176431,Barcelona,nou barris,vallbona,second hand / in good condition,3,1,1,0,0,0,0,0,0
3,102860061,home,97000,60,41.461201,2.172637,Barcelona,nou barris,ciutat meridiana,second hand / in good condition,2,1,0,0,1,0,0,1,1
4,102860061,home,97000,60,41.461201,2.172637,Barcelona,nou barris,torre baró,second hand / in good condition,2,1,0,0,1,0,0,1,1

In [56]:
df_2.shape

(1464, 19)

In [57]:
semi_df = semi_df[~semi_df['ad_neighbourhood'].str.contains('ciutat meridiana - torre baró - vallbona')]

In [58]:
semi_df.shape

(39877, 19)

In [59]:
final_csv = pd.concat([semi_df, df_2], ignore_index=True)

In [60]:
final_csv.shape

(41341, 19)

In [61]:
final_csv = final_csv.reset_index(drop=True)

In [62]:
final_csv.tail(10)

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
41331,92520500,home,135500,84,41.456077,2.182290,Barcelona,nou barris,vallbona,second hand / in good condition,3,1,1,0,0,0,0,0,0
41332,101689050,home,59900,59,41.462040,2.173478,Barcelona,nou barris,ciutat meridiana,second hand / to be restored,3,1,0,0,0,0,0,0,0
41333,101689050,home,59900,59,41.462040,2.173478,Barcelona,nou barris,torre baró,second hand / to be restored,3,1,0,0,0,0,0,0,0
41334,101689050,home,59900,59,41.462040,2.173478,Barcelona,nou barris,vallbona,second hand / to be restored,3,1,0,0,0,0,0,0,0
41335,103311047,home,80700,55,41.464199,2.172284,Barcelona,nou barris,ciutat meridiana,second hand / in good condition,3,1,0,0,0,0,0,0,0
41336,103311047,home,80700,55,41.464199,2.172284,Barcelona,nou barris,torre baró,second hand / in good condition,3,1,0,0,0,0,0,0,0
41337,103311047,home,80700,55,41.464199,2.172284,Barcelona,nou barris,vallbona,second hand / in good condition,3,1,0,0,0,0,0,0,0
41338,102533815,home,58300,55,41.458509,2.172737,Barcelona,nou barris,ciutat meridiana,second hand / in good condition,3,1,0,0,0,0,0,0,0
41339,102533815,home,58300,55,41.458509,2.172737,Barcelona,nou barris,torre baró,second hand / in good condition,3,1,0,0,0,0,0,0,0
41340,102533815,home,58300,55,41.458509,2.172737,Barcelona,nou barris,vallbona,second hand / in good condition,3,1,0,0,0,0,0,0,0

In [63]:
final_csv[final_csv['ad_neighbourhood'] == 'sant pere,santa caterina i la ribera']

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
32,102925796,home,175000,39,41.389089,2.180115,Barcelona,ciutat vella,"sant pere,santa caterina i la ribera",second hand / in good condition,1,1,1,0,1,0,0,0,0
163,102400740,home,209000,45,41.380966,2.179797,Barcelona,ciutat vella,"sant pere,santa caterina i la ribera",second hand / in good condition,1,1,0,0,1,0,0,1,0
166,100475894,home,370000,65,41.381271,2.182651,Barcelona,ciutat vella,"sant pere,santa caterina i la ribera",new development,1,1,1,0,0,0,0,1,0
171,91230446,home,375000,102,41.383765,2.178287,Barcelona,ciutat vella,"sant pere,santa caterina i la ribera",second hand / in good condition,3,2,0,0,1,0,0,1,0
227,102088016,home,280000,85,41.388903,2.180711,Barcelona,ciutat vella,"sant pere,santa caterina i la ribera",second hand / in good condition,2,2,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38324,103243929,home,865000,128,41.385616,2.180783,Barcelona,ciutat vella,"sant pere,santa caterina i la ribera",second hand / in good condition,3,3,0,0,1,0,0,1,0
38325,103047248,home,139000,30,41.385874,2.179791,Barcelona,ciutat vella,"sant pere,santa caterina i la ribera",second hand / in good condition,0,1,0,0,0,0,0,0,0
38326,103091114,home,255000,48,41.389602,2.182310,Barcelona,ciutat vella,"sant pere,santa caterina i la ribera",second hand / in good condition,1,1,0,0,0,0,0,1,0
38327,102871537,home,290000,70,41.385886,2.175918,Barcelona,ciutat vella,"sant pere,santa caterina i la ribera",second hand / in good condition,2,1,0,0,1,1,1,1,0
38328,101761173,home,215000,55,41.386094,2.181043,Barcelona,ciutat vella,"sant pere,santa caterina i la ribera",second hand / in good condition,1,1,0,0,0,1,0,0,0

In [64]:
name_mapping = {
    'vallvidrera,el tibidabo i les planes': 'vallvidrera, el tibidabo i les planes',
    'sant pere,santa caterina i la ribera': 'sant pere, santa caterina i la ribera',
}

In [65]:
final_csv['ad_neighbourhood'] = final_csv['ad_neighbourhood'].apply(lambda x: name_mapping.get(x, x))

In [66]:
final_csv[final_csv['ad_neighbourhood'] == 'sant pere, santa caterina i la ribera']

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
32,102925796,home,175000,39,41.389089,2.180115,Barcelona,ciutat vella,"sant pere, santa caterina i la ribera",second hand / in good condition,1,1,1,0,1,0,0,0,0
163,102400740,home,209000,45,41.380966,2.179797,Barcelona,ciutat vella,"sant pere, santa caterina i la ribera",second hand / in good condition,1,1,0,0,1,0,0,1,0
166,100475894,home,370000,65,41.381271,2.182651,Barcelona,ciutat vella,"sant pere, santa caterina i la ribera",new development,1,1,1,0,0,0,0,1,0
171,91230446,home,375000,102,41.383765,2.178287,Barcelona,ciutat vella,"sant pere, santa caterina i la ribera",second hand / in good condition,3,2,0,0,1,0,0,1,0
227,102088016,home,280000,85,41.388903,2.180711,Barcelona,ciutat vella,"sant pere, santa caterina i la ribera",second hand / in good condition,2,2,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38324,103243929,home,865000,128,41.385616,2.180783,Barcelona,ciutat vella,"sant pere, santa caterina i la ribera",second hand / in good condition,3,3,0,0,1,0,0,1,0
38325,103047248,home,139000,30,41.385874,2.179791,Barcelona,ciutat vella,"sant pere, santa caterina i la ribera",second hand / in good condition,0,1,0,0,0,0,0,0,0
38326,103091114,home,255000,48,41.389602,2.182310,Barcelona,ciutat vella,"sant pere, santa caterina i la ribera",second hand / in good condition,1,1,0,0,0,0,0,1,0
38327,102871537,home,290000,70,41.385886,2.175918,Barcelona,ciutat vella,"sant pere, santa caterina i la ribera",second hand / in good condition,2,1,0,0,1,1,1,1,0
38328,101761173,home,215000,55,41.386094,2.181043,Barcelona,ciutat vella,"sant pere, santa caterina i la ribera",second hand / in good condition,1,1,0,0,0,1,0,0,0

In [67]:
final_csv

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,102924121,home,315000,61,41.372047,2.164361,Barcelona,sants-montjuïc,el poble-sec,second hand / in good condition,2,1,1,0,1,0,0,1,0
1,102614560,home,450000,166,41.379380,2.177694,Barcelona,ciutat vella,el barri gòtic,second hand / to be restored,7,2,0,0,0,1,0,0,0
2,101675391,home,179000,58,41.379963,2.163510,Barcelona,ciutat vella,el raval,second hand / to be restored,3,1,0,0,0,0,0,0,0
3,102882142,home,150000,30,41.388439,2.165341,Barcelona,eixample,la dreta de l'eixample,second hand / in good condition,0,1,0,0,0,0,0,0,0
4,102001566,home,120000,62,41.371448,2.167549,Barcelona,sants-montjuïc,el poble-sec,second hand / to be restored,2,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41336,103311047,home,80700,55,41.464199,2.172284,Barcelona,nou barris,torre baró,second hand / in good condition,3,1,0,0,0,0,0,0,0
41337,103311047,home,80700,55,41.464199,2.172284,Barcelona,nou barris,vallbona,second hand / in good condition,3,1,0,0,0,0,0,0,0
41338,102533815,home,58300,55,41.458509,2.172737,Barcelona,nou barris,ciutat meridiana,second hand / in good condition,3,1,0,0,0,0,0,0,0
41339,102533815,home,58300,55,41.458509,2.172737,Barcelona,nou barris,torre baró,second hand / in good condition,3,1,0,0,0,0,0,0,0
41340,102533815,home,58300,55,41.458509,2.172737,Barcelona,nou barris,vallbona,second hand / in good condition,3,1,0,0,0,0,0,0,0

#### saving barris

In [68]:
final_csv.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/idealista_tableau.csv', index=False)

### Cleaning Distrcites GeoJson

In [69]:
geojson_file_path = '../Data/districtes.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

for feature in geojson_data['features']:
    feature['properties']['NOM'] = feature['properties']['NOM'].lower()

with open(geojson_file_path, 'w') as f:
    json.dump(geojson_data, f, indent=2)

print("GeoJSON file has been updated and saved.")

GeoJSON file has been updated and saved.

In [70]:

geojson_file_path = '../Data/districtes.geojson'

with open(geojson_file_path) as f:
    geojson_data = json.load(f)

gdf_geojson = gpd.GeoDataFrame.from_features(geojson_data['features'])

csv_file_path = '../Data/idealista_tableau.csv'
df_csv = pd.read_csv(csv_file_path)

In [71]:
df_district = pd.json_normalize(features)

In [72]:
district_geojson = set(gdf_geojson['NOM'])
district_main = set(df_csv['ad_district'])

mismatched_names = district_main - district_geojson

In [73]:
print(mismatched_names)

{'horta guinardó'}

In [74]:
#The only mismatch now is this district we see above that we need to change in order to be the same way as in the geojson file

In [75]:
name_mapping = {
    'horta guinardó': 'horta-guinardó',
}

In [76]:
final_csv['ad_district'] = final_csv['ad_district'].apply(lambda x: name_mapping.get(x, x))

In [80]:
final_csv[final_csv['ad_neighbourhood'] == 'el barri gòtic']

,ad_id,ad_typology_Value,ad_price,ad_area,ad_latitude,ad_longitude,ad_town,ad_district,ad_neighbourhood,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
1,102614560,home,450000,166,41.379380,2.177694,Barcelona,ciutat vella,el barri gòtic,second hand / to be restored,7,2,0,0,0,1,0,0,0
83,101941539,home,319000,93,41.380233,2.177253,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,2,1,0,0,0,0,0,0,0
142,102922528,home,250000,50,41.380152,2.181231,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,1,1,1,0,1,0,0,1,0
303,103112471,home,495000,130,41.382114,2.177683,Barcelona,ciutat vella,el barri gòtic,second hand / to be restored,4,1,1,0,0,0,0,0,0
434,100219514,home,800,65,41.380584,2.177735,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,2,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38145,102001562,home,299000,69,41.379634,2.178387,Barcelona,ciutat vella,el barri gòtic,second hand / to be restored,3,1,0,0,1,0,0,0,0
38146,101697237,home,615000,138,41.383821,2.175874,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,5,2,1,0,0,0,0,1,0
38329,102608627,home,380000,80,41.384597,2.173832,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,2,2,1,0,0,0,0,1,0
38330,82985725,home,275000,47,41.382439,2.171556,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,1,1,1,0,0,0,0,1,0
38331,103211885,home,325000,77,41.378103,2.180334,Barcelona,ciutat vella,el barri gòtic,second hand / in good condition,1,1,1,0,1,0,0,1,0

In [78]:
final_csv.to_csv('C:/Users/Marco/Desktop/IronHack/projects/final_project/Data/idealista_tableau.csv', index=False)