In [1]:
import pandas as pd

df = pd.read_csv("../Data/prediction_idealista.csv")

In [2]:
df

,ad_typology_Value,ad_price,ad_area,ad_district,ad_builttype_Value,ad_roomnumber,ad_bathnumber,ad_haslift,ad_hasswimmingpool,ad_hasheating,ad_hasterrace,ad_hasparkingspace,ad_hasairconditioning,ad_hasgarden
0,home,315000,61,Sants-Montjuïc,second hand / in good condition,2,1,1,0,1,0,0,1,0
1,home,450000,166,Ciutat Vella,second hand / to be restored,7,2,0,0,0,1,0,0,0
2,home,179000,58,Ciutat Vella,second hand / to be restored,3,1,0,0,0,0,0,0,0
3,home,150000,30,Eixample,second hand / in good condition,0,1,0,0,0,0,0,0,0
4,home,120000,62,Sants-Montjuïc,second hand / to be restored,2,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33548,home,350000,83,Sant Martí,second hand / in good condition,4,1,1,0,1,0,0,1,0
33549,home,214000,53,Sant Martí,second hand / in good condition,2,1,1,0,1,0,0,1,0
33550,home,128000,48,Sant Martí,second hand / in good condition,1,1,1,0,1,0,0,0,0
33551,home,269000,90,Sant Martí,second hand / in good condition,4,1,1,0,0,0,0,0,0
33552,home,340000,106,Sant Martí,second hand / in good condition,4,2,1,0,0,0,0,0,0